<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Juegos Interactivos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h2 class="section-title">
    SUGERENCIAS DE JUEGOS INTERACTIVOS
  </h2>

  <div class="burbuja-juego">
    <h3>🤗😆🤣 No compres nada 🤣😆🤗
    </h3>
    <div class="variante">
      Este es un juego para provocar risa. Se toma al pequeñín del brazo y se le va pellizcando ligeramente desde los
      dedos hacia la mano, el brazo, el antebrazo y se continúa. En la medida que se avanza, se le dice de manera
      rítmica<br>
      - Cuando vayas al mercado, no compres nada aquí<br>
    </div>
    <div class="rima">
      Ni de aquí,<br>
      Ni de aquí,<br>
      Ni de aquí,<br>
      Ni de aquí,<br>
    </div>
    <div class="variante">
      Finalmente, de manera sorpresiva, se lleva la mano hasta debajo de la axila o sobaco para hacerle cosquillas y se
      finaliza al decirle<br>
    </div>
    <div class="rima">
      -Pero…. De aquí… Si.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>
      🎶🎵🎼Los maderos de San Juan🎼🎵🎶
    </h3>
    <div class="variante">
      Se carga al niño y se sienta sobre las rodillas, se le toman las manos y se mueve suavemente hacia atrás y hacia
      delante, a la vez que se le dice cadenciosamente<br>
      - Aserrín, aserrán, los maderos de San Juan,<br>
    </div>
    <div class="rima">
      los de arriba dicen queso,<br>
      Los de abajo piden pan.<br>
      Trique, trique,<br>
      Trique, trique,<br>
      Trique, trique,<br>
      Trique, tran.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>
      🎎🪆👧 A las muñecas👧🪆🎎
    </h3>
    <div class="variante">
      El juego de las muñecas es uno de los más antiguos, ellas cobran vida en sus representaciones. Las niñas las toman
      como sus hijas y les dan todo el cariño y cuidado que las madres prodigan a su descendencia. En este juego pueden
      intervenir los varones, los que asumen los papeles masculinos de la vida real padres, tío, o desempeñan oficios y
      profesiones como médicos u otros.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>
      🏠🏡🏚 Las casitas 🏚🏡🏠
    </h3>
    <div class="variante">
      Todo lo que rodea al hogar, con juguetes o sin estos, forma parte de este juego donde las casas se convierten en
      universos animados para realizar todas aquellas actividades propias de la casa y la familia.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>
      😃⛱🦶 Alelé 🦶⛱😃
    </h3>
    <div class="variante">
      Los participantes comienzan a saltar con un solo pie, el cual irán alterando a la par de los brincos para no
      perder el equilibrio. A la vez, entonarán la siguiente canción<br>
    </div>
    <div class="rima">
      Alelé, alelé,<br>
      Que me duele un pie.<br>
      Yo no sé de qué será,<br>
      Si será de andar,<br>
      Que por las arenitas,<br>
      Que por el arenal,<br>
      Que por las arenitas,<br>
      Que por el arenal.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🏇🐴🎠El caballito🏇🐴🎠
    </h3>
    <div class="variante">
      Este juego está formado, en su forma más elemental, por un palo de escoba o de otro tipo al que se ata en su parte
      superior un cordón que se divide, y con una extensión de treinta centímetro aproximadamente hace las veces de
      rienda. Otra forma de construirlo es poniéndole a la parte superior del palo una silueta de cabeza de caballo, de
      cuya boca le salen, para un lado y para el otro, las cuerdas que hacen las veces de rienda<br>
      Los niños se colocan a horcajadas sobre el palo y se mueven simulando el trotar del caballo. Existen otras maneras
      de jugarlo: un niño hace de caballito y el otro le coloca una soga pasando sobre el hombro, bajándola por sus
      axilas luego se monta sobre el caballito, toma las riendas, y hace todas las maniobras que se harían con un
      verdadero animalito. Mientras dicen<br>
    </div>
    <div class="rima">
      Arre, caballito,<br>
      Vamos a Belén,<br>
      Que mañana es fiesta<br>
      Y pasado también.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>👁👁🤪
      Veo, Veo 🤪👁👁
    </h3>
    <div class="variante">
      Una vez elegida la persona, mira en la habitación y piensa en ese objetivo que el resto de los niños tienen que
      adivinar y señala<br>
    </div>
    <div class="rima">
      Veo, Veo<br>
    </div>
    <div class="variante">
      Inicia el siguiente dialogo entre las personas que escogió el objetivo y los otros jugadores que intentarán
      adivinarlo<br>
    </div>
    <div class="rima">
      Qué vez<br>
      Una cosa<br>
      Qué cosa es<br>
      Empieza con…<br>
    </div>
    <div class="variante">
      Dice la letra con que empieza el nombre del objeto seleccionado. Los otros jugadores entonces miran a su alrededor
      para sugerir que podría ser. Cada vez, la persona que escogió el objetivo debe decirle si es o no, como<br>
    </div>
    <div class="rima">
      Una carretilla<br>
      No<br>
      La cerca<br>
      No<br>
      Aquel cuadro<br>
      Sí<br>
    </div>
    <div class="variante">
      Las personas que adivinen entonces escoge el siguiente objeto. En ocasiones, adicionalmente acumulará puntos por
      adivinar. Otra variante es usar colores, lo cual constituye las últimas líneas de la secuencia, como por ejemplo
      cuando se juega con colores y el diálogo es el siguiente<br>
    </div>
    <div class="rima">
      Veo, veo<br>
      Qué vez<br>
      Una cosita<br>
      Que cosita es<br>
      Maravillosa<br>
      De qué color<br>
      Rosado
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🫏🫏🫏
      El burrito San Vicente🫏🫏🫏
    </h3>
    <div class="variante">
      Se le pone al niño algo de poco peso en la cabeza, sin que él se percate de ello y se le dice al mismo tiempo<br>
    </div>
    <div class="rima">
      Burrito de San Vicente,<br>
      Lleva la carga,<br>
      Y no la siente<br>
    </div>
    <div class="variante">
      Esta fórmula también se utiliza con adultos cuando sin darse cuenta llevan alguna cosa consigo, por ejemplo
      prendida de ropa.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>
      🫧😃🫧
      Ponpas de jabón
      🫧😃🫧
    </h3>
    <div class="variante">
      Es tan simple este juego como divertido. Ahora se usan absorbentes, pero antiguamente los tallos de las plantas de
      higuereto o de fruta de bomba eran los escogidos para hacer pompas de jabón, para la cual primero se ha de
      preparar en un vaso de plástico un agua jabonosa, después se ha de introducir una de las plantas del absorbente,
      se saca empapado y se eleva al aire, a la vez que se sopla por el otro lado para formar así aros o pompas de
      jabón. También, si se prepara uno que termine en forma de aro, se obtiene mayor diversidad de figuras cuando se
      sopla.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>👨‍👩‍👧‍👦🎣🐟 Pesca de tapones de corcho 🐟🎣👨‍👩‍👧‍👦</h3>
    <div class="variante">
      En primer lugar, utiliza unos corchos de botellas y córtalos en trozos ... En cada uno de los corchos clava un
      trocito de alambre doblado o un gancho con roca. Estos serán los “Peces” que vas a pescar<br>
      También tienes que fabricarte una sencilla vara de pescar. Para ello pueda servirte un palo más o menos largo.
      Como sedal emplearás un trozo de cuerda. Y como anzuelo un trocito de alambre doblado todo ello unido, como ves en
      los dibujos<br>
      Colocarás tus “peces” en un recipiente grande con agua con el gancho hacia arriba. Por ser de corcho quedará
      flotando<br>
      Con el anzuelo tratarás de pescar introduciéndolo en el ganchito de los corchos. Cuanto más lejos te coloques,
      mayor será la dificultad, y más aún si agitas el agua para que los corchos se muevan.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🐔🐓😄
      ¡GALLINITA CIEGA!😄🐓🐔</h3>
    <div class="variante">
      Se selecciona quien se ha quedar en la base y el lugar donde radicará. Los participantes formarán un círculo
      alrededor del designado que se queda en el centro como gallinita ciega con los ojos vendados quien llevará
      opcionalmente una especie de bastón o varilla en la mano. Uno del grupo le da varias vueltas y se establece como
      siguiente diálogo:<br>
      Gallinita ciega ¿Qué se te ha perdido?<br>
    </div>
    <div class="rima">
      Esta contesta:<br>
      - Una aguja y un dedal<br>
      La anterior replica:<br>
      - Pues, date tres vueltas y los encontrarás<br>
      Entonces el jugador vendado ordena:<br>
      - Ande, la rueda.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🏃‍♀🏃🏃LOS ESCONDIDOS 🏃‍♀🏃‍♂️🏃</h3>
    <div class="variante">
      Se discute con una piedrecita o por sorteo quien queda, el cual se colocará de espalda a los demás, comienza a
      contar hasta el número que fue acordado mientras los demás se esconden. Cuando termina de contar sale a buscar y
      dirá:<br>
    </div>
    <div class="rima">
      - Ronda, Ronda<br>
      El que no se haya escondido<br>
      Que se esconda,<br>
      Y si no, que responda.<br>
      O bien:<br>
      - ¡VOY!<br>
    </div>
    <div class="variante">
      Según vaya detectando a los participantes, menciona su nombre y el lugar donde se encuentra, corre a tocar la base
      y ese jugador considerado cogido. Los que llegan sin ser cogidos, se salvan. El juego finaliza cuando todos sean
      cogidos para el próximo juego. Si el último en juegos toca la base, los salva a todos y queda de nuevo el mismo.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🌈🖍🎨¡LOS COLORES!🌈🖍🎨</h3>
    <div class="variante">
      No es más que una variante del conocido en la antigüedad como pares o nones y consiste que un niño coge en la mano
      una o más bolas de un mismo color y presenta a otros los dos puños cerrados y cruzados el otro debe adivinar dónde
      están las bolas y el color de las mismas. Si no acierta debe entregar la cantidad de bolas que contiene la mano
      del otro.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🙂‍↕️💨🏃‍♂️¡LOS COGIDOS!🙂‍↕️💨🏃‍♂️</h3>
    <div class="variante">
      Se determina un jugador que será el perseguidor. A la señal convenida este y al resto, el que sea tocado se
      convierte en perseguidor y el que tocó se suma al resto del grupo. Se marcará una base donde no se puede tocar a
      nadie y no se puede estar más tiempo que el señalado, o no pueden estar en más de una cantidad determinada de
      participantes, aunque si se acuerda, los perseguidos pues den llegar a ella y descansar, preparándose para una
      nueva carrera de no existir, tanto el perseguido como el perseguidor se suceden de manera interrumpida hasta que
      se decide terminar. Se suelen incitar a la persecución con la expresión: A que no me coges.
    </div>
  </div>

  <div class="burbuja-juego">
    <h3>🏃‍♀🏃‍♂️🏃Los pegados🏃‍♀🏃‍♂️🏃</h3>
    <div class="variante">
      Es similar, pero el cogido se queda parado en el lugar donde fue tocado. Los jugadores libres logran liberar al
      pegado tocándolo en la mano. El que sea pegado tres veces pasa a ser el perseguidor.
    </div>
  </div>


</ion-content>