<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>formación de hábitos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">

    <ion-img src="../../../assets/N5.png" alt="Niños" class="main-image"></ion-img>
    <h2 class="section-title">FORMACION DE HABITOS</h2>
    <div class="text-bubble">

      <p class="fun-title">LA FORMACION DE HABITOS DE NIÑOS Y NIÑAS</p>
       
      <p class="fun-text">
      Los hábitos son formaciones psicológicas que están relacionados con los periodos sensitivos del desarrollo, es decir, las etapas que son más propicias para el surgimiento y la formación de una cualidad psíquica. Su formación en las primeras edades adquiere una enorme significación, por cuanto constituye una vía importante para la instauración de las primeras normas morales que la sociedad le plantea al niño. Los hábitos constituyen vía de expresión de normas cívicas y premisa valiosa en la formación de cualidades de la personalidad.
      <br> ¿Qué hábitos crear, en qué momento y cómo hacerlo?
      Para educar hábitos correctos en los niños desde su nacimiento, resulta imprescindible mantener condiciones estables y cumplir rigurosamente con el horario de vida de cada grupo según la edad, de manera que se formen los estereotipos dinámicos, que constituyen la base fisiológica de este proceso. 
      Incorporando algunos  hábitos higiénicos, alimentarios y de cortesía.
      <br> Hábitos higiénicos son básicos para lograr un buen estado de salud, la higiene debe estar presente en todos los momentos de la vida del niño, se trata de comenzar  a que adquiera  hábitos y se haga más independiente en el cuidado de su propia higiene.
       Utilizar la servilleta. 
       <br> Se lava y se seca  las manos y la cara.
       <br> Se cepilla los dientes después de ingerir los alimentos.
       <br> Comunica la necesidad de ir al baño
       <br> Utiliza papel higiénico para limpiarse la nariz.
       <br> Hábitos de cortesía en esta labor es muy importante en todo momento el ejemplo del adulto, se comenzara a insistir en que digan adiós al despedirse, con el gesto y la palabra, que den las gracias al recibir los alimentos, al igual que los brinden y no hablar con la boca llena, al respecto se les harán demostraciones y orientaciones verbales. También se puede trabajar los hábitos de cortesía a través de canciones sencillas, se les puede recitar  una poesía, contar un cuento. 
       <br> Hábitos alimentarios debe ser estimulada, hay que enseñar a los niños a degustar cada nuevo sabor, para que aprendan a distinguirlo, pero en ningún caso se les debe obligar a comer un determinado alimento. No mezclar los alimentos con el postre. El uso correcto del jarrito y de la cuchara grande o sopera se comienza a utilizar entre los 2 y 3 años de edad, para comer todos los alimentos, excepto el postre que será ingerido con la cuchara pequeña. Explicándoles que no debe llenar demasiado la cuchara para que no se derrame la comida. También se le muestra la forma correcta de masticar: la boca cerrada y despacio, sin emitir sonidos El tenedor se introduce a los 3 años de edad, para comer los alimentos semisólidos, carnes, pastas y ensaladas. No debe obligarse al niño zurdo a comer con la mano contraria. Lavarse las manos antes y después de ingerir los alimentos. Utilizar la servilleta para limpiarse la boca y manos cuando están ingiriendo alimentos.
      </p>
       <br> <p class="fun-title">Recomendaciones para la información de buenos Hábitos alimentarios.</p>
       <p class="fun-text">
       <br> • La alimentación de los niños es bastante similar a la del resto de la familia. Se recomienda que cuando el niño sea capaz de comer solo, se le dé su propio plato. Al inicio es lógico que bote parte de la comida, incluso que manche su ropa, pero eso es parte normal del aprendizaje y no debe reprimírsele ni impedírsele hacerlo, pues le quita la iniciativa de comer solo. “Aunque no muy bien, déjame comer yo solito”, se le debe poner baberos, hasta que cumpla los 2 años y medio.
       <br> • En la alimentación se debe usar el vaso y la cuchara y no el biberón, el que debe ser abolido totalmente. Sepa que ellos gustan de los alimentos que pueden comer con las manos. “No se preocupe, ya tendrá tiempo para corregirlo”.
       <br> • Se debe evitar la ingestión de sal y azúcar en exceso, de esta manera no se desarrollan hábitos de altos consumos. “Enséñele desde pequeño buenos hábitos”.
       <br> • El desconocimiento de que en las edades tempranas es común la inapetencia provoca que la familia insista en la alimentación de forma tal que se produzcan conflictos entre la madre y su pequeño. En esta etapa de la vida se desarrolla la autonomía del niño, quien en ocasiones la pone a prueba a través de la alimentación. Se puede mostrar con actitud negativa y voluntariosa.
       <br> • Comience a inculcarle el hábito del consumo de vegetales desde muy temprano. Es frecuente que en esta etapa los niños rechacen algunos alimentos sobre todo las verduras y otros vegetales crudos. “Tenga paciencia, el rechazo puede ser transitorio”.
       <br> • No utilice la comida como premio o castigo. No se debe asociar este proceso con otros sentimientos. “Comer es un proceso natural”.
       <br> • No se preocupe si en un momento dado el niño no quiere comer. Un niño sano come sin forzarlo cuando tiene hambre, aun los más pequeños regulan su apetito. El niño que come bajo presión desarrolla conductas inapropiadas ante los alimentos. “No lo obligue, comer es un placer”.
       <br> • Si un niño rechaza un alimento que se le ha ofrecido por primera vez, no se debe forzar a que lo coma. Se debe ofrecer en otras oportunidades con diferentes preparaciones hasta lograr su aceptación. “La frecuencia del ofrecimiento estimula la aceptación”.
       <br> • No limite su iniciativa o espontaneidad al querer consumir algo que antes no quería. Los niños cambian el gusto por los alimentos a medida que van creciendo. Algunos alimentos que en cierto momento fueron rechazados pueden llegar a ser aceptados y hasta preferidos o viceversa. “Los gustos y las preferencias pueden cambiar con el tiempo”.
       <br> • Una adecuada actividad física y recreativa contribuye a estimular el apetito. “Cuando juega está contento y come mejor”.
       <br> • El ambiente en la mesa debe ser tranquilo y libre de prisa, ansiedad o disgustos. Un ambiente agradable estimula en el niño una actitud favorable ante la alimentación. “Disfruten comer juntos en un ambiente agradable”.
       <br> • Combine colores, texturas, aromas y sabores. Un buen estimulante del apetito es la presentación variada de las comidas. Trate de evitar la monotonía en la preparación de los alimentos. “Alimentos agradables a la vista, al olfato y al paladar”.
       <br> • Evite que los niños reciban alimentos en trozos grandes, ásperos, cáscaras, semillas, huesos, espinas o muy viscosos, porque estos pueden ser causas de trastornos o molestias y producir rechazo permanente.
       <br> • Realice las preparaciones a temperatura moderada, ni muy fríos ni muy calientes, pues los niños prefieren tocar los alimentos con sus manos. “Ni frío, ni caliente”. 
       <br> • Evite la costumbre de ofrecer al niño solo los alimentos que gustan y prefieren los adultos, pues conducen a dietas monótonas y lo limitamos a la variabilidad y los valores nutricionales excluidos. “No elabore solo los alimentos y preparaciones que a usted le gusten, enseñe al niño a comer alimentos nuevos”. 
       <br> • Enseñe al niño buenos modales en el momento de la comida, por ejemplo, cómo ser cortés, servirse con moderación, masticar bien los alimentos con la boca cerrada, sin emitir sonidos, no tocar alimentos cuando tiene otros en la boca, el uso de los cubiertos. Así mismo, es un momento para compartir y fomentar la convivencia familiar.
       <br> Para obtener una dieta variada se deben seleccionar diariamente alimentos de los siete grupos básicos, teniendo en cuenta, además, la diversidad en el colorido de la dieta, mientras más colores estén presentes, más nutrientes se están ingiriendo.
       <br> El niño no nace preparado para ingerir, absorber y utilizar cualquier alimento. Varias características estructurales y funcionales del sistema digestivo maduran gradualmente, lo que le irá permitiendo realizar las funciones antes mencionadas. La alimentación adecuada es uno de los índices y condiciones más importantes para el desarrollo psíquico y fisiológico satisfactorio del niño, para el aumento de su fortaleza física y su mayor capacidad de resistencia a las enfermedades; por tanto la calidad del proceso de alimentación tiene que ver directamente con la protección y la salud de las niñas y los niños.
       <br> Dentro de la edad preescolar, los grupos de los primeros años de vida son los de más riesgo cuando se presentan fallos en su alimentación. En esta etapa del desarrollo hay características y situaciones que condicionan un mayor grado de susceptibilidad a los efectos producidos por una inadecuada nutrición.
       <br> A partir de los 3 años de edad, aumenta la actividad física, el gasto metabólico es más elevado, por lo que deben ser estimulados, para que se alimente igual que el resto de la familia y hacer las comidas principales junto con esta, lo que ayuda a su integración psicológica y socio-familiar y a crear hábitos sanos. La distribución de calorías en la alimentación, se corresponde a seis frecuencias de alimentos en el día.
       <br> El apetito es buen indicador del estado de salud del niño. Si el niño es sano y unas veces come bien y otras no, sin un motivo visible, entonces la causa probablemente hay que buscarla en la organización y funcionamiento del régimen alimentario.
      </p>
    
      <p class="fun-title">GRUPOS DE ALIEMENTOS PARA ORGANIZAR EL MENU DE LOS NIÑOS.</p>
      
      <table width="100%" border="1" cellspacing="0" cellpadding="5" class="fun-text">
        <thead>
          <tr>
            <th>Grupo</th>
            <th>Alimentos</th>
            <th>Nutrientes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Grupo 1</td>
            <td>Leche, queso y yogurt</td>
            <td>Proteínas animales</td>
          </tr>
          <tr>
            <td>Grupo 2</td>
            <td>Carne, huevo y pescado</td>
            <td>Proteínas animales</td>
          </tr>
          <tr>
            <td>Grupo 3</td>
            <td>Papas, legumbres (granos<br>de cualquier tipo) y frutos secos</td>
            <td>Proteínas vegetales, lípidos</td>
          </tr>
          <tr>
            <td>Grupo 4</td>
            <td>Verduras y hortalizas</td>
            <td>Vitaminas</td>
          </tr>
          <tr>
            <td>Grupo 5</td>
            <td>Frutas</td>
            <td>Vitaminas</td>
          </tr>
          <tr>
            <td>Grupo 6</td>
            <td>Pan, pastas, cereales, arroz,<br>Azúcar</td>
            <td>Carbohidratos</td>
          </tr>
          <tr>
            <td>Grupo 7</td>
            <td>Grasa, aceite y mantequilla</td>
            <td>Lípidos</td>
          </tr>
        </tbody>
      </table>             
      
      <p class="fun-title">Consejos útiles para la incorporación y elaboración de frutas y vegetales al consumo de los niños.</p>
      <p class="fun-text">
        <br> •	Las frutas y vegetales son fuentes de vitaminas y minerales A, C, E asociados a la prevención de algunas enfermedades y son nutrientes favorables en el desarrollo del niño.
        <br> •	Los refrescos de frutas naturales son más saludables para los niños y bajos en azúcar.
        <br> •	Cuando se le incorpora a la alimentación del niño frutas y vegetales como col, espinaca, naranja y tomate, se adquiere vitamina C que fortalece la asimilación del hierro, imprescindible para la formación de hemoglobina.
        <br> •	Lave cuidadosamente los vegetales antes de dárselo a consumir a los niños, pero por breve tiempo y no los deje en remojo para evitar la pérdida de nutrientes y su endurecimiento.
        <br> •	Los vegetales se le deben de dar a consumir a los niños crudos siempre que sea posible.
        <br> •	Las ensaladas se debe preparar preferentemente en el omento que el niño la valla a consumir.
        <br> •	No colar los jugos de frutas para no perder las fibras dietéticas.
        <br> •	La zanahoria se debe consumir cruda preferentemente, rallada o cocida con poca agua para que no pierda sus propiedades.
        <br> •	No se debe adicionar bicarbonato en el cocido de algunos alimentos como frijoles pues destruye las vitaminas.
        <br> •	Las frutas no se debe ofrecer a los niños como postre porque pueden perturbar la digestión. Es aconsejable que la consuman en las comidas como aperitivos, sobre todo las cítricas, pues estimulan el apetito.
        <br> •	Ofrézcales frutas y vegetales como refrigerios cortados en trozos.
        <br> •	Agrégales vegetales picados  como a sopas, salsas y mezcle frutas en yogur, batidos.
        <br> •	Permita que los niños ayuden a lavar, cortar y prepara frutas y vegetales, lo que puede hacer que sean más propensos a comerlas.
        <br> •	Convierta las comidas familiares en una oportunidad para que los niños experimenten diferentes frutas y vegetales.
        <br> •	Ofrezca una variedad de frutas y vegetales para exponer a los niños a diferentes sabores, colores y texturas.
        <br> •	Si inicialmente el niño se niega a comer ciertas frutas y vegetales, siga ofreciéndoselas. Eventualmente, pueden llegar a apreciarlas y desarrollar un gusto por ellas. 
    </p>
      <p class="fun-title">LA DESNUTRICION</p>
        
      <p class="fun-text">
      La desnutrición es una forma de malnutrición que afecta a la población mundial. Por su causa los niños y las niñas son mucho más vulnerables ante las enfermedades. 
      Es producto de diversos factores como:  
      <br> • Falta de alimento. 
      <br> • Presencia de enfermedades frecuentes. 
      <br> • Desconocimiento del valor nutritivo de los alimentos que revela en el consumo de una alimentación inadecuada. 
      <br> • Creencias erróneas.
      Consecuencias de la desnutrición:
      <br> • Retardo y detención del crecimiento 
      <br> • Pelo quebradizo y ralo 
      <br> • Piel reseca 
      <br> • Mala distribución dentaria 
      <br> • Retraso en el aprendizaje 
      <br> • Retardo mental irreversible
    </p>
      
      
    </div>

    <div class="text-bubble"  style="background-color: rgb(127, 175, 119);">

    <div *ngIf="!quizCompleted" class="question-container">
      <h1 class="question-text">{{ questions[currentQuestionIndex].text }}</h1>
      <p class="fun-text">Puntos: {{score}}</p>
      <p class="fun-text">Pregunta # {{currentQuestionIndex + 1}} de {{questions.length}}</p>
      <div *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
        <button 
          class="option-button"
          [class.selected]="selectedAnswer === i"
          (click)="selectAnswer(i)">
          {{ option }}
        </button>
      </div>
      <button 
        class="action-button"
        (click)="checkAnswer()" 
        [disabled]="selectedAnswer === null">
        {{ currentQuestionIndex < questions.length - 1 ? 'Siguiente' : 'Finalizar' }}
      </button>
      
    </div>
  
    <div *ngIf="quizCompleted" class="result-container">
      <h2>¡Trivia completada!</h2>
      <p class="score-text">Tu puntuación: {{ score }} / {{ questions.length }}</p>
      <button class="action-button" (click)="restartQuiz()">Repetir Trivia</button>
    </div>

  </div>
  </ion-content>


</ion-content>