<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>formación de hábitos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <ion-img src="../../../assets/N5.png" alt="Niños"></ion-img>

    <h2>FORMACION DE HABITOS</h2>

    <h4> RECOMENDACIONES PARA LA INFORMACION DE BUENOS HABITOS ALIMENTARIOS</h4>
    <li>La alimentación de los niños es bastante similar a la del resto de la familia. Se recomienda que cuando el niño
    sea capaz de comer solo, se le dé su propio plato. Al inicio es lógico que bote parte de la comida, incluso que
    manche su ropa, pero eso es parte normal del aprendizaje y no debe reprimírsele ni impedírsele hacerlo, pues le
    quita la iniciativa de comer solo. “Aunque no muy bien, déjame comer yo solito”, se le debe poner baberos, hasta que
    cumpla los 2 años y medio.</li>
    <li>En la alimentación se debe usar el vaso y la cuchara y no el biberón, el que debe ser abolido totalmente. Sepa que
    ellos gustan de los alimentos que pueden comer con las manos. “No se preocupe, ya tendrá tiempo para corregirlo”.</li>
    <li>Se debe evitar la ingestión de sal y azúcar en exceso, de esta manera no se desarrollan hábitos de altos consumos.
    “Enséñele desde pequeño buenos hábitos”.</li>
    <li>El desconocimiento de que en las edades tempranas es común la inapetencia provoca que la familia insista en la
    alimentación de forma tal que se produzcan conflictos entre la madre y su pequeño. En esta etapa de la vida se
    desarrolla la autonomía del niño, quien en ocasiones la pone a prueba a través de la alimentación. Se puede mostrar
    con actitud negativa y voluntarioso.</li>
    <li>Comience a inculcarle el hábito del consumo de vegetales desde muy temprano. Es frecuente que en esta etapa los
    niños rechacen algunos alimentos sobre todo las verduras y otros vegetales crudos. “Tenga paciencia, el rechazo
    puede ser transitorio”.</li>
    <li>No utilice la comida como premio o castigo. No se debe asociar este proceso con otros sentimientos. “Comer es un
    proceso natural”.</li>
    <li>No se preocupe si en un momento dado el niño no quiere comer. Un niño sano come sin forzarlo cuando tiene hambre,
    aun los más pequeños regulan su apetito. El niño que come bajo presión desarrolla conductas inapropiadas ante los
    alimentos. “No lo obligue, comer es un placer”.</li>
    <li>Si un niño rechaza un alimento que se le ha ofrecido por primera vez, no se debe forzar a que lo coma. Se debe
    ofrecer en otras oportunidades con diferentes preparaciones hasta lograr su aceptación. “La frecuencia del
    ofrecimiento estimula la aceptación”.</li>
    <li>No limite su iniciativa o espontaneidad al querer consumir algo que antes no quería. Los niños cambian el gusto
    por los alimentos a medida que van creciendo. Algunos alimentos que en cierto momento fueron rechazados pueden
    llegar a ser aceptados y hasta preferidos o viceversa. “Los gustos y las preferencias pueden cambiar con el tiempo”.</li>
    <li>Una adecuada actividad física y recreativa contribuye a estimular el apetito. “Cuando juega está contento y come
    mejor”.</li>
    <li>El ambiente en la mesa debe ser tranquilo y libre de prisa, ansiedad o disgustos. Un ambiente agradable estimula
    en el niño una actitud favorable ante la alimentación. “Disfruten comer juntos en un ambiente agradable”.</li>
    <li>Combine colores, texturas, aromas y sabores. Un buen estimulante del apetito es la presentación variada de las
    comidas. Trate de evitar la monotonía en la preparación de los alimentos. “Alimentos agradables a la vista, al
    olfato y al paladar”.</li>
    <li>Evite que los niños reciban alimentos en trozos grandes, ásperos, cáscaras, semillas, huesos, espinas o muy
    viscosos, porque estos pueden ser causas de trastornos o molestias y producir rechazo permanente.</li>
    <li>Realice las preparaciones a temperatura moderada, ni muy fríos ni muy calientes, pues los niños prefieren tocar los
    alimentos con sus manos. “Ni frío, ni caliente”.</li>
    <li>Evite la costumbre de ofrecer al niño solo los alimentos que gustan y prefieren los adultos, pues conducen a
    dietas monótonas y lo limitamos a la variabilidad y los valores nutricionales excluidos. “No elabore solo los
    alimentos y preparaciones que a usted le gusten, enseñe al niño a comer alimentos nuevos”.</li>
    <li>Enseñe al niño buenos modales en el momento de la comida, por ejemplo, cómo ser cortés, servirse con moderación,
    masticar bien los alimentos con la boca cerrada, sin emitir sonidos, no tocar alimentos cuando tiene otros en la
    boca, el uso de los cubiertos. Así mismo, es un momento para compartir y fomentar la convivencia familiar.</li>
    <p>Para obtener una dieta variada se deben seleccionar diariamente alimentos de los siete grupos básicos, teniendo en
    cuenta, además, la diversidad en el colorido de la dieta, mientras más colores estén presentes, más nutrientes se
    están ingiriendo.</p>
    <p>
    El niño no nace preparado para ingerir, absorber y utilizar cualquier alimento. Varias características estructurales
    y funcionales del sistema digestivo maduran gradualmente, lo que le irá permitiendo realizar las funciones antes
    mencionadas. La alimentación adecuada es uno de los índices y condiciones más importantes para el desarrollo
    psíquico y fisiológico satisfactorio del niño, para el aumento de su fortaleza física y su mayor capacidad de
    resistencia a las enfermedades; por tanto la calidad del proceso de alimentación tiene que ver directamente con la
    protección y la salud de las niñas y los niños.</p>
    <p>
    Dentro de la edad preescolar, los grupos de los primeros años de vida son los de más riesgo cuando se presentan
    fallos en su alimentación. En esta etapa del desarrollo hay características y situaciones que condicionan un mayor
    grado de susceptibilidad a los efectos producidos por una inadecuada nutrición.</p>
    <p>
    A partir de los 3 años de edad, aumenta la actividad física, el gasto metabólico es más elevado, por lo que deben
    ser estimulados, para que se alimente igual que el resto de la familia y hacer las comidas principales junto con
    esta, lo que ayuda a su integración psicológica y socio-familiar y a crear hábitos sanos. La distribución de
    calorías en la alimentación, se corresponde a seis frecuencias de alimentos en el día.</p>
    <p>
    El apetito es buen indicador del estado de salud del niño. Si el niño es sano y unas veces come bien y otras no, sin
    un motivo visible, entonces la causa probablemente hay que buscarla en la organización y funcionamiento del régimen
    alimentario.</p>
    <h4>
    GRUPOS DE ALIEMENTOS PARA ORGANIZAR EL MENU DE LOS NIÑOS</h4>
    <h4>
    Grupo Alimentos Nutrientes</h4>
    <p>
    <strong>Grupo 1</strong> Leche, queso y yogurt Proteínas animales</p>
<p>
    <strong>Grupo 2</strong> Carne, huevo y pescado Proteínas animales
  </p>
  <p>
    <strong>Grupo 3</strong> Papas, legumbres (granos Proteínas vegetales, lípidos
    de cualquier tipo) y frutos secos
  </p>
  <p>
    <strong>Grupo 4</strong> Verduras y hortalizas Vitaminas
  </p>
  <p>
    <strong>Grupo 5</strong> Frutas Vitaminas
  </p>
  <p>
    <strong>Grupo 6</strong> Pan, pastas, cereales, arroz, Carbohidratos
    Azúcar
  </p>
  <p>
    <strong>Grupo 7</strong> Grasa, aceite y mantequilla Lípidos
  </p>
  <p>
    Consejos utiles para la incorporcion y elaboracion de frutas y vegetales al consumo de los niños.</p>
    <li>Las frutas y vegetales son fuentes de viaminas y minerales A, C, E asociados a la prevencion de algunas
    enfermedades y son nutrientes favorables en el desarrollo del niño.</li>
    <li>Los refrescos de frutas naturales son más saludables para los niños y bajos en azucar.</li>
    <li>Cuando se le incorpora a la alimentacion del niño frutas y vegetales como col, espinaca, naranja y tomate, se
    adquiere vitamina C que fortalece la asimilacion del hierro, impresindible para la fomacion de hemoglobina.</li>
    <li>Lave cuidadosamente los vegetales antes de darselo a consumir a los niños, pero por brebe tiempo y no los deje en
    remojo para evitar la perdida de nutrientes y su endurecimiento.</li>
    <li>Los vegetales se le deben de dar a consumir a los niños crudos siempre que sea posible.</li>
    <li>Las ensaladas se debe preparar preferentemente en el omento que el niño la valla a consumir.</li>
    <li>No colar los jugos de frutas para no perder las fibras dieteticas.</li>
    <li>La zanahoria se debe consumir cruda preferentemente, rallada o cocida con poca agua para que no pierda sus
    propiedades.</li>
    <li>No se debe adicionar bicarbonato en el cocido de algunos alimentos como frijoles pues destruye las vitaminas.</li>
    <li>Las frutas no se debe ofrecer a los niños como postre porque pueden perturbar la digestion. Es aconsejable que la
    consuman en las comidas como aperitivos, sobre todo las citricas, pues estimulan el apetito.</li>
    <li>Ofrescales frutas y vegetales como refrijerios corttados en trozos.</li>
    <li>Agregales vegetales picados como a sopas, salsas y mezcle frutas en yogur, batidos.</li>
    <li>Permita que los niños ayuden a lavar, cortar y prepara frutas y vegetales, lo que puede hacer que sean mas
    propensos a comerlas.</li>
    <li>Convierta las comidas familiares en una oportunidad para quelos niños experimenten diferentes frutas y vegetales.</li>
    <li>Ofrezca una variedad de frutas y vegetales para exponer a los niños a diferentes sabores, coloress y texturas.</li>
    <li>Si inicialmente el niño se niega a comer ciertas frutas y vegetales, siga ofreciendoselas. Eventualmente, pueden
    llegar a apreciarlas y desarrollar un gusto por ellas.</li>
    <h4>LA DESNUTRICION</h4>
    <p>La desnutrición es una forma de malnutrición que afecta a la población mundial. Por su causa los niños y las niñas
    son mucho más vulnerables ante las enfermedades.</p>
    <p>Es producto de diversos factores como:</p>
    <li>Falta de alimento.</li>
    <li>Presencia de enfermedades frecuentes.</li>
    <li>Desconocimiento del valor nutritivo de los alimentos que revela en el consumo de una alimentación inadecuada.</li>
    <li>Creencias erróneas.</li>
    <p>Consecuencias de la desnutrición:</p>
    <li>Retardo y detención del crecimiento</li>
    <li>Pelo quebradizo y ralo</li>
    <li>Piel reseca</li>
    <li>Mala distribución dentaria</li>
    <li>Retraso en el aprendizaje</li>
    <li>Retardo mental irreversible</li>
    <br>
    <h4>
    LA FORMACION DE HABITOS DE NIÑOS Y NIÑAS</h4>
    <p>Los hábitos son formaciones psicológicas que están relacionados con los periodos sensitivos del desarrollo, es
    decir, las etapas que son más propicias para el surgimiento y la formación de una cualidad psíquica. Su formación en
    las primeras edades adquiere una enorme significación, por cuanto constituye una vía importante para la instauración
    de las primeras normas morales que la sociedad le plantea al niño. Los hábitos constituyen vía de expresión de
    normas cívicas y premisa valiosa en la formación de cualidades de la personalidad.</p>
    <p>
    ¿Qué hábitos crear, en qué momento y cómo hacerlo?</p>
    <p>
    Para educar hábitos correctos en los niños desde su nacimiento, resulta imprescindible mantener condiciones estables
    y cumplir rigurosamente con el horario de vida de cada grupo según la edad, de manera que se formen los estereotipos
    dinámicos, que constituyen la base fisiológica de este proceso.</p>
    <p>
    Degustar los alimentos.</p>
    <p>Hay que enseñar a los niños a degustar cada nuevo sabor, para que aprendan a distinguirlo, pero en ningún caso se
    les debe obligar a comer un determinado alimento.</p>
    <li>Masticar despacio y con la boca cerrada.</li>
    <li>No mezclar los alimentos con el postre.</li>
    <li>Utilizar correctamente los cubiertos y el jarrito</li>
    <li>Utilizar la servilleta.</li>
    <li>Lavarse las manos antes y después de ingerir los alimentos.</li>
    <br>
    <h4>Uso de los cubiertos</h4>
    <li>El uso de la cucharita pequeña es objetivo a lograr entre los 18 y 24 meses, se le demostrará cómo debe sostenerse
    y que no debe llenarse demasiado para que no se derrame la comida. También se le muestra la forma correcta de
    masticar: la boca cerrada y despacio, sin emitir sonidos.</li>
    <li>La cuchara grande o sopera se comienza a utilizar entre los 2 y 3 años de edad, para comer todos los alimentos,
    excepto el postre que será ingerido con la cuchara pequeña.</li>
    <li>El tenedor se introduce a los 3 años de edad, para comer los alimentos semisólidos, carnes, pastas y ensaladas, a
    partir del segundo semestre (mes de febrero guiándonos por un curso escolar). Se consolida su uso a los 4 años de
    edad.</li>
    <li>El cuchillo se presenta en el segundo semestre para los niños de 4 años de edad, con el objetivo de
    familiarizarlos con este cubierto.</li>
    <li>No debe obligarse al niño zurdo a comer con la mano contraria.</li>
    <li>Se trabajará desde que tienen 1 año de edad en cómo utilizar la servilleta para limpiarse la boca y manos cuando
    están ingiriendo alimentos</li>

  </ion-content>


</ion-content>
