<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MANIFESTACIONES, COMPORTAMIENTOS Y CARACTERISTICAS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <ion-img src="../../../assets/N3.png" alt="Niños"></ion-img>
    <h2>ORIENTACIONES EDUCATIVAS SOBRE ALGUNAS MANIFESTACIONES, COMPORTAMIENTOS Y CARACTERISTICAS DE LOS NIÑOS Y LAS
      NIÑAS EN 2 a 3 AÑOS</h2>

    <p>
      Estas orientaciones tratan sobre comportamientos habituales de los niños y las niñas de la primera infancia, y las
      soluciones pedagógicas y psicológicas más adecuadas para su correcta socialización. Se refieren a comportamientos
      habituales del niño, que necesitan ser guiados de modo correcto para un adecuado desarrollo emocional, y que, de
      ser erróneamente tratados, pueden arraigarse y hacerse estables en el tiempo, constituyendo un mal manejo que
      requiere una atención especializada por parte del psicólogo.</p>

    <h4>CARACTERISTICAS DE LOS NIÑOS Y LAS NIÑAS EN 2 a 3 AÑOS</h4>
    <p>
      El conocimiento de las características de estas edades les permite efectuar su trabajo con mayor efectividad con
      el
      grupo de niños en general con cada uno de forma individual. Este es un aspecto esencial del trabajo educativo en
      esta etapa, donde se sientan las bases para el desarrollo integral de la personalidad y para lograr el Fin de la
      primera infancia, que no es más que “El logro del máximo desarrollo integral posible de cada niño y niña desde el
      nacimiento hasta los 6 años de edad”</p>
    <li>Presentan un desarrollo físico más lento que en las edades anteriores.</li>
    <li>Son más resistentes a las enfermedades.</li>
    <li>Aumentan la capacidad de trabajo, por lo que permanecen despiertos durante más tiempo; por el día deben dormir 2
      horas y 30 minutos y en la noche de 8 a 10 horas.</li>
    <li>Realizan movimientos físicos más coordinados, lo que les permiten la ejecución de actividades motrices afines,
      como
      son el tomar correctamente la cuchara, abotonar o desabotonar una camisa o bata. Su marcha (caminar) se hace más
      firme y segura, lo que posibilita montar velocípedos, bailar, coordinar manos y pies, así como realizar giros, dar
      pasos laterales, saltar con las dos piernas y correr.</li>
    <li>Aumentan su caudal de palabras, empleando las partes de una oración. Se hace más frecuente la comunicación entre
      los niños y adultos; hacen numerosas preguntas. Ya a mediados de este año el lenguaje tiene mayor importancia como
      regulador de la conducta de los niños.</li>
    <li>Desempeñan un papel muy importante la actividad con los objetos. El dominio del lenguaje les permiten darle
      aptitud
      a este conocimiento de los objetos, pues ya son capaces de comprender mejor el significado de las palabras y el
      nombre de cada uno.</li>
    <li>Presentan una atención menos dispersa que el año anterior pero aun no garantiza la permanencia excesiva en un
      mismo
      tipo de actividad, por eso sus movimientos continuos de un lugar a otro. Pueden permanecer atentos, si están
      motivados, de 8 a 10 minutos.</li>
    <li>Desarrollan la independencia, realizan labores sencillas autoservicio, muestran gran interés para realizar
      actividades por sí solo y se enfadan si se les limita o les impiden hacerlas.</li>
    <li>Comienzan a manifestar el juego con otros niños o de conjunto con el grupo y se incrementan los juegos
      limitaciones, inician la utilización de objetos sustitutos (un palitos por termómetros, un bloque como jabón).
    </li>
    <li>Puede aparecer la llamada “crisis de los tres años”, debido a las contradicciones que se dan en el propio niño,
      entre sus aspiraciones y sus posibilidades reales, que no siempre el adulto reconoce. Este año evento requiere de
      un
      tratamiento educativo que se correspondan con la particularidad de cada niño.</li>
    <li>Necesitan de la atención estrecha del adulto para la satisfacción de sus necesidades esenciales. Por lo que son
      imprescindibles las muestran de cariños y expresiones afectivas.</li>
    <br>

    <h4>LA CARENCIA AFECTIVA</h4>
    <p>El niño desde que nace tiene una gran necesidad de afecto que el adulto satisface mediante un trato cariñoso,
      hablándole suave y dulcemente, dándole seguridad y apoyo, satisfaciendo sus necesidades con ternura. De manera que
      el niño que desde su nacimiento disfrute del cariño y de la comprensión de las personas que lo tienen a su
      cuidado,
      será un niño feliz. Los niños y niñas que crecen sin tener satisfechas sus necesidades de afecto suelen presentar
      alteraciones de conducta, tanto en el aspecto emocional como en el intelectual.</p>
    <p>¿Por qué ocurre? Hay adultos que atienden al niño de forma mecánica, lo alimentan, lo duermen, etc., pero sin
      ofrecerle ternura, sin brindarle caricias. La satisfacción de las necesidades del pequeño, cumplida como una
      obligación de cada día, es causa de que se sienta mal atendido, por el contrario una buena comunicación afectiva
      es
      lo principal que necesita para sentirse tranquilo y seguro.</p>
    <p>
      ¿Qué alteraciones presenta un niño carente de afecto? Es necesario aclarar que las alteraciones que surgen
      producto
      de la carencia afectiva, serán más serias mientras más pequeño sea el niño y más se prolongue la situación sin
      tomar
      las medidas necesarias para erradicarlas. Estas alteraciones tienen manifestaciones distintas:</p>
    <li>Los niños y niñas carentes de afecto, poco a poco, en la medida que esa falta de afecto se prolongue, pueden ir
      perdiendo el interés en las cosas hasta llegar a una indiferencia ante los estímulos del medio que los rodea.</li>
    <li>En general, su conducta se va haciendo difícil, pues están como en guardia ante todo lo que se les acerca,
      llegando a veces, a ser muy agresivos.</li>
    <li>Generalmente, adelantan poco en el aprendizaje de lo que se les enseñan y no atienden cuando se les habla.</li>
    <li>Su desarrollo intelectual se atrasa, en general parecen menores que los otros niños de su edad, ya que se
      retrasan
      en el caminar, en el lenguaje, en el desarrollo del pensamiento y de la percepción.</li>
    <li>Los niños más pequeños, cuando la falta de estimulación es muy grande, acuden a estimularse ellos mismos,
      manifestando conductas como: balanceo, chocar la cabeza contra los barrotes del corral o contra la pared,
      adquieren
      manías.</li>
    <li>Tienen gran falta de confianza y seguridad en sí mismos, o sea, no se creen capaces de realizar lo que hacen sus
      compañeritos.</li>
    <li>Sus relaciones en el juego son pobres y expresan poca alegría, manteniendo una cara alelada y poco expresiva.
    </li>
    <li>Reclaman continuamente el afecto de personas que no son precisamente las que los cuidan. Así llaman “mamá” a
      cualquier mujer que se les acerque y “papá” a cualquier hombre.</li>
    <li>Es necesario evitar que se desarrollen en el niño alteraciones por una carencia afectiva; ahora bien, si ya ha
      ocurrido esto, hay que extremar las acciones para ayudar al pequeño a superarlas.</li>
    <br>
    <h4>¿Qué se debe hacer para eliminar la carencia afectiva?</h4>
    <li>Extremar las demostraciones de cariño, hablarles con palabras y tono suaves, cargarlos, acariciarlos y besarlos
      con frecuencia, decirles que se les quiere.</li>
    <li>Si el niño es muy pequeño, se debe estar atento para que no esté solo, sin estimulación; suministrarle juguetes
      y
      sentarse a jugar con él. Si es aún más pequeño, se le cantará, cargándolo con frecuencia.</li>
    <li>Satisfacer sus necesidades en el momento preciso y de forma tierna, esto se extremará mientras más pequeños
      sean.
      Así, durante los procesos de alimentación, baño y sueño se les hablará dulcemente, tratándolos con cuidado y amor.
    </li>
    <li>El adulto estará vigilante en las situaciones en las que el niño pueda necesitar apoyo y seguridad, cuando, por
      ejemplo, se enfrente a una situación nueva.</li>
    <li>Atenderlos con mucha paciencia para que logren comprender las actividades de su edad. Así mismo, elogiarlos cada
      vez que hagan algo bien aunque sea muy sencillo y ayudarlos cuando fracasan, sin alterarse el adulto, ni hacer un
      problema de los errores de los niños.</li>
    <li>Hablarles mucho para que se sientan atendidos. De todo lo anterior se concluye que cuidar y enseñar a los niños
      es
      una hermosa tarea que debemos realizar con amor.</li>
    <br>
    <h4>
      LA FALTA DE ACTIVIDAD</h4>
    <p>
      Los adultos son los responsables cuando el niño tiene poca actividad, tanto en el hogar como en la casa cuidadora.
    </p>
    <p>¿Por qué ocurre?</p>

    <p>Hay adultos que son despreocupados y no le ofrecen al niño la posibilidad de actividad, no le dan materiales o
      juguetes y si se los dan, no lo enseñan a utilizarlos; a veces, tampoco le buscan lugar apropiado para jugar o no
      responden a sus preguntas, le hablan poco, etc. Existen otros casos donde los adultos son sobreprotectores e
      impiden
      al niño hacer una serie de actividades por temor a que le suceda algo. Así oímos a veces: “¡No corras, que te
      caes!”; “¡Deja eso, que mancha!”. Otros, son excesivamente dominantes y no permiten al niño desarrollarse, por
      ejemplo, le dicen: “¡Quédate quieto ahí!”.</p>
    <p>
      Cuando por cualquiera de estas causas el adulto no satisface la necesidad de actividad del niño, se desarrollarán
      distintos problemas en su conducta cuyas manifestaciones es necesario conocer para cuando algún niño las presente,
      inmediatamente tomar las medidas que erradiquen esta falta de actividad.</p>
    <h4>¿Qué alteraciones presenta un niño carente de actividad?</h4>
    <li>Un niño con poca actividad se retrasará en su desarrollo intelectual y en la medida en que se prolongue el
      tiempo
      de inactividad, será mayor su atraso. Así se observa retardo en el lenguaje, la percepción, el pensamiento, etc.
    </li>
    <li>En general, un niño con poca curiosidad, poca iniciativa, pobre desarrollo de la fantasía y del afán de
      exploración, puede llegar a ser indiferente a todo aprendizaje.</li>
    <li>El conocimiento del mundo que lo rodea es por lo general muy pobre.</li>
    <li>Como se aburre por no tener actividades, puede llegar a presentar balanceo (mecerse de un lado a otro
      constantemente), chuparse el dedo, o cualquier otra manipulación de su cuerpo.</li>
    <li>Se convierte en un niño con poca seguridad en sí mismo, puede tener miedo a correr, subir o saltar. Luego, de
      mayorcito, se siente inseguro en las actividades escolares y de trabajo, cree que no puede hacer y aprender bien
      las
      cosas.</li>
    <br>
    <h4>¿Qué se debe hacer para erradicar la falta de actividad?</h4>
    <li>Lo primero y más importante es la comprensión por parte del adulto de la necesidad que tienen los niños de la
      actividad para su desarrollo y que esta debe ser organizada según su edad.</li>
    <li>Si el niño tiene de 1 a 3 años, usted debe organizar su actividad con objetos, dándole todas las facilidades y
      orientándolo en actividades de construcción, dibujo, modelado y acciones de juegos sencillas, como pasear a la
      muñeca.</li>
    <li>A los niños y niñas que no se interesan por participar en los juegos, en las actividades dirigidas o
      independientes, se deben embullar, despertar su interés, por ejemplo: “¡Vamos a hacer un dibujo a mamá!”; “¡Vamos
      a
      jugar a la construcción!”; “¡Ven, tú manejas el camión!”.</li>
    <li>Se deben apoyar afectiva y físicamente en sus juegos y actividades, ayudándolos en sus dificultades cuando
      reclamen nuestra colaboración, por ejemplo, si un niño quiere subir y no puede, sostenerlo; o si está tratando de
      construir una torre y no puede, ayudarlo, etc.</li>
    <li>Si un niño quiere jugar solo o con otro niño aparte, los adultos no deben forzarlo a permanecer en el grupo,
      sino,
      poco a poco, irlo atrayendo hacia el juego o buscándole una actividad colectiva, por ejemplo, “¡Ven, ayúdame a
      regar
      el jardín!” o “¡A recoger el salón!”.</li>
    <li>Elogiarlo cuando logre algo: “Eduardito, ¡qué bonito te quedó!”; “¡Mañana vamos a hacer uno más bonito, ya ves
      que
      tú sí puedes!”.</li>
    <li>Responder siempre a sus preguntas y, además, tratar de que él hable, por ejemplo, preguntándole: “Teresita, ¿qué
      hiciste el domingo?”; pedirle ayuda con el objetivo de que participe en las conversaciones; solicitar que
      desarrolle
      determinada tarea en la cual sabemos que pueda tener éxito y recibir nuestra felicitación.</li>
    <br>
    <h4>EL LLANTO</h4>
    <p>
      “El llanto ensancha los pulmones”; “No lo cargues aunque llore, que se pone malcriado”. Frases como estas se
      escuchan con frecuencia, sin pensar la injusticia que ellas encierran. El niño, generalmente, no llora por gusto,
      ni
      por majadería, sino que hay un motivo real que es necesario que el adulto busque para erradicar la causa del
      llanto.
      Cuando se presenta el llanto, cualquiera que sea la causa, siempre hay que acudir. Dejar al niño llorar y llorar,
      significa para él, que está abandonado, siendo esto el sentimiento más desagradable que puede experimentar un
      pequeño. Generalmente, se produce cuando no se le proporciona el afecto y la seguridad que necesita y que pide
      llorando. Por eso, se deben analizar las causas para poder tomar las medidas tendentes a evitarlo.</p>
    <br>
    <h4>
      ¿Por qué ocurre en los niños pequeños?</h4>
    <p>
      Generalmente ocurre por la no satisfacción de alguna necesidad biológica, como pueden ser:</p>
    <li>Tiene hambre, sed o sueño.</li>
    <li>Siente mucho calor o frío.</li>
    <li>Se orinó y su ropita se mantiene húmeda, lo que le desagrada y molesta.</li>
    <li>No puede moverse con facilidad por ropas que le aprietan demasiado.</li>
    <li>Le molesta el ruido o el exceso de luz.</li>
    <li>Le están saliendo los dientes o muelas; está incubando una enfermedad; tiene cólicos, etc
      Igualmente ocurre cuando no se satisfacen sus necesidades psicológicas, es decir:</li>
    <li>Se siente inseguro, por miedo que le han creado los mayores.</li>
    <li>Está falto de caricias, de palabras dulces y busca la atención del adulto.</li>
    <li>Falta de juguetes, de qué mirar y de qué hacer.</li>
    <li>Se le ha apartado de una situación que le agrada, y no puede tener el objeto que desea.</li>
    <li>Se ha dado un golpe o caída, o se encuentra en una situación difícil.</li>
    <p>Cuando el niño crece y puede expresarse por medio del lenguaje, no tiene que acudir en todas las situaciones al
      llanto, ya que, por ejemplo, él puede decir: “Tengo sed o hambre”; “Ayúdame que no puedo”; “Estoy aburrido”, etc.
    </p>
    <p>Sin embargo, sí puede llorar por situaciones que no puede explicar, como son: el miedo, la vergüenza, los celos,
      el
      desamparo; o bien se puede valer del llanto para conseguir algo que él quiere, por ejemplo: un objeto que no se le
      da para jugar, cuando no quiere dejar de jugar para ir a comer, etc.</p>
    <h4>¿Qué se debe hacer ante el llanto?</h4>
    <p>En caso de que se presente una situación desagradable y el niño llore, debemos inmediatamente:</p>
    <li>Cargarlo, porque es así como se siente protegido al sentir el cuerpo del adulto. A ningún niño, cuando se ha
      caído, tiene dolor o miedo, se le malcría porque se le coja en brazos para darle el amor y la seguridad que pide
      con
      su llanto.</li>
    <li>Buscar enseguida cuál es la causa que lo altera para eliminarla. No dejarlo nunca solo.</li>
    <li>Acariciarlo, besarlo, demostrarle al niño que estamos con él para defenderlo y ayudarlo, hablándole siempre con
      palabras tiernas y cariñosas.</li>
    <li>Evitar las situaciones que motivan el llanto, tales como incumplimientos en el horario de vida, no darle las
      comidas o el agua en el momento indicado.</li>
    <li>No asustarlo ni crearle miedo.</li>
    <li>Regañarlo solo cuando haya cometido una falta, y entonces, el llanto será en respuesta a un
      correctivo tendente a su educación.</li>
    <li>Avisarle antes, si se le va a cambiar la actividad, así se irá acostumbrando a la idea de que tiene que dejar lo
      que está haciendo y no se disgustará tanto.</li>
    <li>Ejemplo: “Daniel, dentro de 5 minutos vamos a comer, ve recogiendo los juguetes”.</li>
    <li>Explicarle, si llora para conseguir algo que quiere y no se le puede dar, por qué no se le puede complacer, y se
      tratará de distraer su atención hacia otro objeto o actividad.</li>
    <br>
    <h4>El EGOISMO</h4>
    <p>Una de las cuestiones en la cual se hace más énfasis es en el desarrollo de la conducta cooperadora del niño
      dentro
      del colectivo. Ahora bien, ¿tiene siempre una conducta cooperadora ante los demás? Sabemos que no es así; que el
      niño, inclusive, tiene una etapa de su vida en la que adquiere la fama de egoísta, y en esta etapa, en ocasiones
      es
      agresivo, dominante, quiere que todo se haga a su gusto y no reconoce razón alguna del porqué no ha de ser así, es
      inconforme. No ve la razón por la cual se le pide que deje de jugar con aquello que estaba disfrutando tanto, para
      dárselo a otros niños.</p>
    <p>
      La vida en colectivo ofrece una excelente oportunidad para que el niño aprenda a ser cooperativo, ya que el
      pequeño,
      al contacto con otros niños, comparte sus juguetes, espera su turno, acepta las reglas del juego, etc., además de
      participar con alegría en el mismo. Es más difícil superar el egoísmo en los niños que viven solos entre adultos,
      donde todo es para ellos y no aprenden a compartir.
    </p>

    <p>¿Por qué ocurre?</p>
    <p>
      El niño puede aprender esta conducta por imitación, los adultos no nos percatamos de que a veces la facilitamos,
      ya
      que en ocasiones queremos que nuestros hijos sean los primeros en todo, desde el juego de pelota hasta el
      destacado
      en el grupo, y lo impulsamos a pasar delante de los otros; o que posean todas las cosas para sí, sin tener en
      cuenta
      a los demás. Esto puede deberse a la conducta sobreprotectora y al favoritismo de los adultos hacia los pequeños.
      El egoísmo es una etapa transitoria dentro de las edades de 1 a 3 años de edad. Para el niño de estas edades es
      sumamente difícil entender que todas las cosas no son suyas, y que no solo él es el importante.</p>
    <p>
      El niño desea retener un juguete y no compartirlo con otros. Esto no lo hace porque quiera perjudicar, sino que
      él,
      aunque sabe la existencia de los demás, no los considera, porque se siente el centro de todas las cosas y las
      interpreta como suyas.</p>
    <p>
      Por lo general, hasta que no se alcanza la edad de 3 o 4 años, no es apto un niño para mantener contactos
      positivos
      con más de un compañero a la vez, y es por eso que se necesita la atención de los adultos ante este hecho en las
      edades menores.</p>
    <p>
      ¿Qué se debe hacer ante una actitud egoísta?</p>

    <li>Los adultos no deben tratar de borrar esta actitud en el niño de una forma rápida y enérgica, ni antes de
      tiempo,
      ya que él, por sí solo, necesita razonar esta conducta. Si lo forzamos, podemos lograr el efecto contrario, ya que
      el niño al tratar de esconder su egoísmo se manifiesta con una conducta no real, pudiendo ser después peor.</li>

    <li>Una actitud cariñosa y firme, no dominante ni blanda, permite una mejor superación del egoísmo. El niño que se
      siente seguro y querido tiende a superarlo más rápidamente.</li>

    <li>Que en ocasiones tenga que dar un juguete a otro niño, aunque llore, es bueno; así va aprendiendo que a veces,
      tiene que ceder. Dígale con buenas maneras, pero con firmeza: “No, ahora le toca a otro niño, después te tocará a
      ti
      de nuevo.”</li>
    <li>Nunca diga delante de él que es egoísta, esto tiende a reafirmar su egoísmo.</li>
    <li>En las casas de cuidado, los niños pueden llevar juguetes; sin embargo, es poseedor de juguetes y otras
      pertenencias. En este caso, también debe comprender la necesidad de que sus compañeros puedan disfrutar de sus
      juguetes al igual que él lo hace de los objetos de los demás.</li>
    <li>Además nada le ayuda más al niño que los elogios y alabanzas, más se gana con el elogio que con la crítica. Por
      ejemplo, si se da el caso de que hay un solo caballito y varios niños quieren montarlo, cada vez que uno se baje
      del
      caballito para que monte otro, el adulto puede decir: “¡Qué bueno es este niño!, se baja del caballito para que
      otro
      niñito pueda montar también”.</li>
    <br>
    <h4>LA TIMIDEZ</h4>
    <p>A veces como adultos estamos preocupados ante niños intranquilos, desobedientes, que andan de un lado a otro
      constantemente; sin embargo, en el mismo grupo de pequeños, nos encontramos con otro niño que por ser
      excesivamente
      tranquilo y no molestar a los demás, pasa inadvertido, cuando en realidad tras esta quietud del niño muy tímido se
      esconden generalmente alteraciones emocionales.</p>
    <p>
      Este niño no es difícil de descubrir, si lo observamos con atención, pues presenta una serie de comportamientos
      característicos que son necesarios atender, por ejemplo:</p>
    <li>Mantenerse fuera de los grupos de niños que juegan; el niño tímido prefiere estar solo, se aparta de los demás.
    </li>
    <li>Sentirse inferior, o sea, no se cree capaz de hacer las mismas cosas que otros niños de su edad.</li>
    <li>Como le cuesta trabajo jugar con otros niños, se crea un mundo imaginario, lleno de fantasías, por eso casi
      siempre se le ve pensativo, abstraído, aislado.</li>
    <li>Hablar poco, aunque conozca muchas palabras, a no ser con personas con las que se siente seguro.</li>
    <li>Tenerle miedo a las personas extrañas, lugares y cosas desconocidas, aunque puede ser que en el hogar no
      manifieste esta conducta.</li>
    <li>Ser cobarde, no se defiende de las agresiones de otros niños aunque sean más pequeños que él. • Ser más serio
      que
      otros niños de su misma edad.</li>
    <li>Sentirse mejor con los adultos que con los niños por eso se acerca más a los primeros, sobre todo, cuando son
      cariñosos con él.</li>
    <br>
    <h4>¿Por qué ocurre?</h4>
    <p>El niño se comportará o no como tímido de acuerdo con el trato que los adultos le den, ya sean los padres, las
      cuidadoras y en general, todas las personas que están cerca de él y dirigen sus actividades. Es un ser muy activo
      y
      su actividad es indicio de salud, solo el que está enfermo juega poco. Desafortunadamente, hay ocasiones en que
      por
      la comodidad del adulto, o por temor a que todo le haga daño, o simplemente por ser dominante y querer que él haga
      nada más lo que deseamos, se le limita la actividad, tanto en el hogar como en la casa cuidadora, “¡No hables
      alto,
      que molestas a los vecinos!”; “¡No corras, que puedes caerte!”; “¡Siéntate ahí, y no te muevas hasta que te toque
      el
      turno de comer!”; “¡No juegues con esa muñeca que la puedes romper!”; “¡Qué bobo tú eres por no saber hacer eso
      tan
      fácil!”.</p>
    <p>No, no se debe actuar así con el niño. Todo esto suele ser más difícil e incómodo para el adulto, pero si
      supiéramos
      cuánto molestamos al niño y cuánto daño le estamos haciendo a su futuro, seguramente no actuaríamos así.</p>

    <h4>¿Qué se debe hacer para erradicar la timidez?</h4>

    <li>Permitirle mucha libertad de acción. Dejarlo correr, saltar, tirar, tocar, curiosear e investigar sus
      alrededores.
      Debe dejársele realizar estas actividades de la forma que quiera, dándole tareas que sean fáciles para que vaya
      tomando seguridad en sí mismo.</li>
    <li>Darle cariño en caso de situaciones de miedo o de peligro, demostrándole que estamos con él para ayudarlo y
      defenderlo si fuera necesario.</li>
    <li>Ofrecerle juguetes, llamarlo y jugar con él cada vez que lo veamos inactivo, que no juega.</li>
    <li>Embullarlo a jugar con otros niños. Esto lo ayuda a vencer la timidez.</li>
    <li>Enseñarlo a defenderse. El adulto siempre le dirá que responda a las agresiones que recibe de los demás. Al
      inicio
      es difícil, pero, poco a poco, irá tomando confianza al ver que al defenderse disminuyen las agresiones.</li>
    <li>Permitirle todos sus intentos de vestirse, bañarse, comer solo, etc., ayudándolo solo ante un obstáculo o
      dificultad, y celebrándolo mucho cuando lo haga bien.</li>
    <li>Ser suave con él en la disciplina y dejarlo, a veces, que haga algunas travesuras.</li>
    <li>Darle responsabilidades dentro del grupo; si el niño no las quiere, podrá embullarlo, pero nunca obligarlo.</li>
    <li>No obligarlo a que acepte rápidamente a los adultos, equipos y juguetes nuevos para él.</li><br>
    <h4>
      LA AGRECIVIDAD</h4>
    <p>
      La agresividad es una conducta común en los niños y se puede considerar positiva o negativa según la edad del niño
      que la manifiesta, la frecuencia y el tipo de situación que la provoca. En relación con las situaciones, se debe
      analizar el porqué de la conducta agresiva en el niño, ya que puede ser por defenderse de un ataque o peligro, por
      defender a un niño más pequeño que está siendo agredido por uno mayor, etc., todo lo cual se consideraría como una
      conducta agresiva positiva. Ahora bien, si reacciona violentamente, con patadas, gritos, golpes, mordidas, ante
      situaciones a las que otros niños reaccionan de forma normal, por ejemplo: un niño tiene un juguete en la mano
      durante un tiempo y cuando otro se lo pide reacciona empujándolo, gritando; o cuando él quiere un juguete que otro
      tiene en lugar de pedírselo se lo arrebata, esto será una conducta agresiva negativa.</p>
    <h4>
      ¿Por qué ocurre?</h4>
    <p>
      El adulto, como guía y ejemplo de la educación del niño, es el primer factor que influye en su conducta. Un niño
      al
      que se le consiente todo sin señalarle nunca qué debe y qué no debe hacer, no aprende a enfrentar situaciones que
      le
      son desagradables, reaccionando ante ellas violentamente como medio de imponer su voluntad, pero igual puede
      reaccionar otro que sea tratado con frialdad, sin afecto intentando reclamar por este medio ese cariño que le
      falta.
      Puede ser que el niño no haya tenido conductas agresivas y empiece a manifestar constantes respuestas de este
      tipo.
      Esto se puede deber a algún problema que tenga, como celos, por no haber manejado bien el nacimiento de un
      hermano,
      dificultades en el seno de la familia, etc.</p>
    <p>
      Para prevenir que se desarrolle la conducta agresiva en los niños es necesario evitar estas situaciones, pero una
      vez que se hayan presentado debemos tratar de erradicarlas.</p>
    <h4>¿Qué se debe hacer frente a la agresividad?</h4>

    <li>Demostrarle cariño y afecto siempre, para evitar la agresividad por falta de afecto; que se siente una sólida
      base
      de confianza para poder desarrollar las restantes medidas.</li>
    <li>Si el niño que se manifiesta agresivo es pequeño, explicarle que eso no se hace, que ese niño a quien le da es
      su
      amiguito, y le duele; si el niño continúa, se le debe regañar y decirle que el adulto va a molestarse con él.</li>
    <li>El adulto no debe permitir que el niño le pegue, demostrándole con una actitud seria lo reprobable de su
      conducta,
      al mismo tiempo que le pide que se siente unos minutos para que piense lo incorrecto de su proceder.</li>
    <li>Es necesario que la conducta del adulto sea ejemplo de las relaciones entre las personas, que no se grite o se
      tengan manifestaciones violentas, sino que se solucionen los conflictos conversando de la mejor forma.</li>
    <li>No estimular la agresividad ni con palabras ni con juegos de manos y mordidas.</li>
    <li>El adulto estará vigilante ante cualquier situación que se presente que pueda originar una conducta agresiva y
      tratará de evitarla, por ejemplo, si el niño quiere el juguete que tiene otro niño, se le dirá: “Pídeselo, que te
      lo
      dé un rato, y luego tú se lo devuelves”, indicándole así la forma de actuar correctamente.</li>
    <li>Si un niño agrede a otro, el adulto deberá invitar en un tono de voz baja, para que el resto del grupo no lo
      oiga,
      al otro niño a que se defienda. El agredido, al defenderse, lo hará con las manos y una sola vez, para ir logrando
      que el agresor comprenda que siempre que le pegue a un niño le van a devolver el golpe.</li>
    <li>Cuando un niño tímido manifiesta sus primeras conductas agresivas, debe actuarse con mucha prudencia, y no
      regañársele, pues podría frenar sus iniciales intentos de defensa, que son una señal de que está sobrepasando su
      timidez.</li>
    <li>Se debe tratar que el niño esté entretenido, empleando su energía en cosas útiles, dándole pequeñas
      responsabilidades, sugiriéndole actividades variadas y atractivas que desarrollen acciones positivas.</li>
    <li>Nunca se les debe decir que son niños malos, ni hablar de su agresividad con otras personas delante de ellos.
    </li>
    <br>
    <h4>LA RIÑA</h4>
    <p>
      Los niños pequeños sostienen, con frecuencia, riñas o peleas, ya que, por una parte, les es difícil cohibirse de
      realizar un deseo que surja en un momento determinado, como, por ejemplo, tener un juguete con el que juega otro
      niño; y además, por el escaso desarrollo de su lenguaje, no obedecen las órdenes verbales del adulto, ni tampoco
      pueden solucionar los conflictos por medio del lenguaje. El adulto debe intervenir para ir guiando al niño, poco a
      poco, hacia formas de relación más positivas, logrando así que a medida que crezca las peleas vayan siendo menos
      frecuentes.</p>
    <h4>
      ¿Por qué ocurren?</h4>
    <p>
      La causa más común de las peleas entre los niños menores son los juguetes u otros objetos que para ellos sean
      atractivos. En el niño mayor persisten los juguetes como causa de las riñas o peleas, pero al complicarse su
      actividad surgen otros factores, como son el personaje que van a representar en un juego, el lugar en la fila,
      etc.
      Otra causa que genera frecuentemente riñas es el ejemplo negativo del adulto, si el niño está constantemente
      rodeado
      de peleas y discusiones imitará esta conducta. Un factor que interviene indirectamente en la propensión de los
      niños
      a las riñas es la irritabilidad que pueda existir en ellos, producto de alteraciones en el horario de vida que
      provocan hambre, sueño, aburrimiento o sed.</p>
    <h4>¿Cómo prevenirlas?</h4>
    <li>Rodeando al niño de un ambiente sedado, sin gritos ni peleas, donde predomine la comprensión, donde se diluciden
      los conflictos a través de una conversación sin alteraciones.</li>
    <li>Cumplimentando su horario de vida, de manera que el niño se sienta bien, que no tenga ninguna necesidad
      insatisfecha que le provoque irritabilidad.</li>
    <li>Satisfaciendo su necesidad de afecto, pues un niño emocionalmente equilibrado tendrá un mejor control sobre su
      conducta y podría dar solución a los conflictos que presente sin necesidad de las peleas.</li>
    <li>Organizando actividades variadas y atractivas donde el niño esté entretenido y feliz.</li>
    <li>Como algo muy importante se destaca el papel del adulto, que debe estar muy atento. Cuando los niños por sí
      solos
      no sepan resolver el problema o el conflicto, el adulto debe intervenir para evitar la pelea, y si se produce,
      actuar para terminarla.</li>
    <li>Educando a los niños en un ambiente de camaradería, colectivismo y ayuda mutua. En el que comprendan que los
      juguetes son de todos los niños del grupo, que todos pueden jugar con ellos y que juntos pueden hacerlo mejor.
    </li>
    <br>
    <h4>¿Qué se debe hacer cuando ocurren las riñas?</h4>
    <li>El adulto debe evaluar la situación y proceder a ayudarlos a solucionar la causa de la riña, ya que es diferente
      la actuación del adulto si la causa es, por ejemplo, un objeto, o si es una agresión de uno de los niños, etc.
    </li>
    <li>En los casos en que los niños peleen por un juguete, se deberá tratar que lo compartan, organizándoles un juego
      en
      común, como puede ser jugar a la pelota, o si no es posible realizar esto por las características del juguete, se
      distraerá la atención buscando algún objeto sustituto.</li>
    <li>
      Cuando las riñas son entre niños mayores a veces no es fácil que se conformen con un objeto sustituto o un juego
      en común, en estas situaciones podemos proponer un cambio hacia una actividad atractiva que los distraiga.</li>
    <li>Además de ayudar a los niños a solucionar el conflicto, el adulto debe hablar con ellos con una finalidad
      educativa.</li>
    <li> En el manejo de los niños que pelean o riñen, no con todos se debe seguir el mismo tratamiento, por eso, ante
      un
      niño que es “agresivo” y que normalmente resuelve sus problemas por medio del golpe, se le debe decir al otro niño
      que no se deje pegar, que se defienda; y con el que agrede, hablar y explicarle que esa no es la forma de tratar a
      un compañero o a un amigo, y a este niño agresivo darle todas las actividades necesarias para que descargue su
      agresividad.</li>
    <br>
    <h4>
      LA MALCRIADEZ</h4>
    <p>Esta conducta inadecuada y molesta está dada por la incorrecta educación que ha recibido el niño y esto, por
      supuesto, es responsabilidad de los adultos. Ningún niño nace bien o mal educado, el encargado de guiarlo y
      mostrarle lo que puede o no puede hacer, lo que es bueno y lo que no lo es, es el adulto.</p>
    <p>
      La malacrianza se manifiesta con desobediencia y falta de respeto, con todas las características que estos
      elementos
      pueden contener (intranquilidad, agresividad, perretas, malas palabras, falta de atención, dificultades en el
      aprendizaje y, en fin, desorden general).</p>
    <h4>¿Por qué ocurre?</h4>
    <p>Una causa muy frecuente es el hecho de empezar tarde la educación del niño, pensando siempre que todavía es muy
      pequeño para aprender. El prohibir al niño cosas absurdas también puede volverlo malcriado, porque no puede
      comprender lo que se le exige que cumpla. Por ejemplo: pedirle que se mantenga sentado para no ensuciarse, que no
      pregunte cuando le asalta una inquietud, esto va en contra de la naturaleza infantil, que se rebela ante la
      injusticia y termina por no respetar. El niño, además, aunque es pequeño es una persona más, y como tal, debe
      respetársele. Es fundamental también que se mantenga en todo momento lo que se prohíbe y se permite. Todos los
      mayores que rodean al niño deben permitir y prohibir lo mismo. Si la mamá no deja que el niño se suba en la cama
      con
      zapatos, el papá tampoco puede permitirlo. Si no, ¿cómo el niño va a aprender qué debe y qué no debe hacer? Pero
      lo
      más importante es el ejemplo del adulto, el niño aprende más lo que ve, que lo que se dice.</p>
    <h4>¿Qué se debe hacer ante la malcriadez?</h4>
    <li>Lo primero es tratar de cumplir todas las normas que se dan anteriormente para comenzar la transformación de los
      patrones educativos incorrectos que posee.</li>
    <li>Con estos niños se debe ser muy rectos y exigirles que cumplan las reglas, pero a la vez ser muy pacientes y
      cariñosos.</li>
    <li>No se les debe mentir nunca, siempre decir la verdad, aunque no sea completa, o tan complicada como es
      realmente.</li>
    <li>La utilización de premios y regaños es también un método útil con los malcriados. Es conveniente señalar que los
      premios y halagos son más convenientes que los regaños, pero estos últimos a veces son necesarios también.</li>
    <li>Cada vez que el niño haga algo que se destaque o supere un error por el que se le había regañado, se le debe
      halagar, resaltando su actitud frente al grupo, por ejemplo: “¡Qué lindo es José!”; “¡Qué limpia está la mesa!”; o
      quizás, “¡Qué bien ha trabajado Enrique, vamos a poner su dibujo en exposición!”.</li>
    <li>Al ofrecer un premio debemos cuidar que se pueda cumplir. A veces se ofrecen cosas que después no se cumplen y
      esto conduce a que la próxima vez el niño no crea en nuestras promesas.</li>
    <li>Ahora bien, hay ocasiones en que es necesario regañar al niño, pero siempre teniendo en cuenta que si se abusa
      de
      los regaños llega el momento en que no tendrán ninguna significación para él. Además, el regaño debe hacerse
      manifestando disgusto, pero sin gritar ni hacer gestos agresivos, digamos, por ejemplo: “Yaremis, tú sabes que eso
      no se hace.”</li>
    <li>Si el niño no responde ante el llamado y se muestra irrespetuoso repitiendo la conducta negativa, con una
      manifiesta desobediencia, sería conveniente conversar con él, apartarlo del grupo por unos momentos, para que se
      tranquilice y pueda razonar lo que el adulto quiere explicarle acerca de su actuación.</li>
    <li>Después de esta conversación, el adulto debe tratar al niño como si nada hubiera pasado, acariciándolo y
      dirigiéndose a él, como a cualquier otro niño del grupo.</li>
    <li>Para que el halago y el regaño surtan efecto en el niño, este tiene que sentir cariño por el adulto, de lo
      contrario no le importa nada que le guste o no lo que él hace.</li>
    <p>Para finalizar, se hace necesario exponer algunos comportamientos que no se deben hacer si se quiere tener niños
      bien educados y capaces de convertirse en adultos socialmente adaptados. Esto, incluso, es válido en el caso de
      niños malcriados, pues, aunque un niño lo sea, nunca se deben usar estos métodos para tratarlo:</p>
    <li>No le diga que no lo quiere.</li>
    <li>Nunca le pegue.</li>
    <li>No le falte el respeto ni lo ponga en ridículo burlándose de él, poniéndole sobrenombres como, “ciclón”, “bola
      de
      humo” u otros por el estilo.</li>
    <li>No lo compare con otros niños.</li>
    <li>No lo engañe ni lo asuste con el cuarto oscuro o el médico, etc.</li>
    <p>No obstante, es importante tener siempre presente que esto solo surtirá efecto si se ponen de acuerdo el hogar y
      sus
      trabajadoras. El trabajo es difícil y requiere de la cooperación seria y paciente de todos, por lo que todos
      tienen
      que desempeñar su papel para que el niño sea en el futuro un hombre trabajador, disciplinado e integral.</p>
    <br>
    <h4>LAS PERRETAS</h4>
    <p>
      Las perretas infantiles son una de estas conductas típicas que suelen presentar los pequeños. Los más chiquitos
      lloran, gritan, patalean y retuercen el cuerpo, mientras que los mayores se tiran en el suelo, a veces golpean a
      todo el que los rodea y hasta llegan a golpearse a sí mismos. En muchos casos, acompañan este cuadro con insultos
      y
      malas palabras.</p>
    <br>
    <h4>
      ¿Por qué ocurren?</h4>
    <p>
      Existen varios factores que propician la aparición de las perretas. Puede ser la reacción del niño ante un hecho
      que
      le desagrada o le causa una gran incomodidad; o que esté cansado, con hambre, sueño, miedo o incubando una
      enfermedad física. El cambio en su horario de vida o el enfrentamiento con una nueva situación también pueden ser
      razones desencadenantes. Igualmente, las perretas pueden ocurrir como medio de atraer la atención, cuando no se
      siente querido ni atendido por los adultos o cuando siente que su apoyo y seguridad le faltan. El caso más
      preocupante es el que se presenta cuando el niño llega a comprender que en el momento que a él le da la perreta,
      lo
      dejan hacer lo que quiere aunque no sea correcto.</p>
    <br>
    <h4>
      ¿Qué se debe hacer para evitarlas?</h4>

    <li>Lo primero es que el niño sepa qué debe y qué no debe hacer, y además, tenga bien claro que esto se cumple
      siempre
      igual, independientemente del lugar o momento concreto.</li>
    <li>Satisfacer siempre las necesidades del niño, no como si fuera un deber, sino con afecto y deseo para que se
      sienta
      cómodo y seguro. Esto no debe limitarse a sus necesidades biológicas, sino que debe incluir la necesidad de nuevas
      impresiones, la de independencia y la de exploración.</li>
    <li>
      Es imprescindible también que el niño sienta que se respetan sus derechos; que se le avise con tiempo cuando va a
      pasar de una actividad a otra para que esté preparado; que no se le impongan medidas arbitrarias, así como que no
      se
      proceda injustamente con él.</li>

    <li>Es importante tener presente las situaciones por las que puede estar atravesando un niño en su hogar, para
      apoyarlo y hacer que las sobrepase de la mejor forma. Si el niño se siente satisfecho y seguro, es poco probable
      que
      dé una perreta.</li>
    <br>
    <h4>
      ¿Y qué hacer si surgen?</h4>
    <li>En este caso, es muy importante no ceder ante la perreta, es decir, no ofrecer el objeto o la actividad que la
      haya originado, para evitar que el niño adopte la perreta como sistema para obtener lo que desea.</li>
    <li>No hay que darle importancia al hecho, el niño no debe notar que nos preocupa su proceder, hay que actuar
      serenamente y sin mostrar mucho interés.</li>
    <li>No se le debe gritar, ni amenazarlo, ni regañarlo; además, en ningún momento se le puede acusar de que es malo o
      de que no se puede con él.</li>
    <li>Es muy importante que el niño que tiene una perreta no se convierta en el centro de una escena dentro de un
      grupo
      de niños o adultos. Hay que separar las personas que rodean al niño y mantener a éste aislado, aunque cerca, para
      poder vigilarlo.</li>
    <li>El adulto debe tener presente que durante la perreta el niño no va a entender ninguna razón, por lo que no se
      debe
      insistir en ese momento, sino que, una vez finalizada la crisis, se analizará la situación con el pequeño, de
      forma
      cariñosa, para que él sienta que no se le guarda rencor, hay que acariciarlo y darle seguridad siempre, con mucha
      paciencia y serenidad.</li>
    <li>Una situación difícil que acompaña a las perretas son las agresiones dirigidas a los adultos o a otros niños, o
      las que el pequeño realiza contra sí mismo. Es importante que durante esta acción el adulto mantenga su
      ecuanimidad,
      evitando por todos los medios actuar agresivamente o con brusquedad.</li>
    <p>Después, se procederá de la misma manera que en los otros casos de los que ya hemos hablado. Si las perretas se
      tratan adecuadamente no tienen por qué ser frecuentes, ni constituir un problema para nadie.
    </p>
    <br>
    <h4>
      LA HIPERACTIVIDAD</h4>
    <p>La hiperactividad es el cambio continuo de una actividad a otra, que se manifiesta en una gran intranquilidad,
      ajena
      a la voluntad del niño, por lo que no cesa ni disminuye con órdenes dirigidas al pequeño. Esto hace que el niño
      sea
      considerado como “un malcriado insoportable”, que muchas veces incluso, llega a ser rechazado por los adultos.</p>
    <br>
    <h4>¿Por qué ocurre?</h4>
    <p>La hiperactividad puede comenzar como resultado de la incubación de una enfermedad física o el restablecimiento
      de
      ella, o producirse como respuesta a problemas durante el embarazo o el parto, enfermedades infecciosas graves
      durante las primeras edades o un golpe fuerte. También puede ser originada por estados de ansiedad provocados por
      problemas familiares, como la llegada de un hermanito, la separación de un familiar, el divorcio de los padres, el
      cambio de vivienda, etc. La hiperactividad requiere de una atención sistemática, sedada y paciente, por parte de
      los
      adultos y dirigida en beneficio del desarrollo de los niños que la presentan.</p>
    <br>
    <h4>
      ¿Qué se debe hacer ante la hiperactividad?</h4>

    <li>Es fundamental tratar a los niños con mucha paciencia y afecto, para poder ayudarlos a desarrollar poco a poco
      el
      autocontrol, la disciplina, la atención y la capacidad de esperar.</li>
    <li>
      Se les debe tratar cariñosamente y siempre de forma calmada, sin gritos ni gestos de desesperación.</li>
    <li>Es muy importante no hacer comentarios negativos sobre su conducta que él pueda oír y sobre todo, no ponerle
      nombres como “ciclón” o “bola de humo”, que lo que harán será disgustarle con el adulto y alejarlo de él,
      disminuyendo así las posibilidades de orientarlo convenientemente.</li>

    <li>Es imprescindible darle libertad de movimiento, preferiblemente en áreas abiertas.</li>
    <li>No se debe obligar al niño a estar sentado más tiempo del que realmente puede mantenerse.</li>
    <li>El elogio es muy útil en la educación de estos niños y hay que aprovecharlo siempre que realicen una actividad
      en
      la que hayan tenido que estar tranquilos y concentrados.</li>
    <li>Para lograr que estos niños se tranquilicen, es fundamental proporcionarles un ambiente de calma; deben evitarse
      las conductas y los ruidos fuertes a su alrededor.</li>
    <br>
    <h4>
      LA MANIPULACION</h4>
    <p>
      La manipulación es la exploración que el niño hace en su cuerpo con sus propias manos y que puede ser: el meterse
      los dedos en la nariz o en la boca, tocarse el ombligo, hacerse rosquitas en el pelo, acariciarse sus partes
      sexuales, doblarse la oreja, etc.</p>
    <p>
      Todas estas conductas, si se manifiestan de vez en cuando, es absolutamente normal que se presenten en un niño,
      pero
      si se repiten, son muy intensas o permanentes en el tiempo, pueden ser un mal hábito que se ha fijado. Se debe
      prestar especial atención si se acompañan de otras conductas, como son: el alejamiento del juego, la expresión
      triste en el rostro, el retraimiento, entre otras, pues suelen indicar el inicio de problemas en el niño.</p>
    <br>
    <h4>
      ¿Por qué ocurre?</h4>
    <p>
      El niño pequeño, para conocer el mundo y las cosas que lo rodean, tiene la necesidad de tocarlas, palparlas,
      llevarlas a la boca. Es decir, conocer los objetos tocándolos y entrando en contacto con ellos. Otra causa puede
      ser
      el comportamiento incorrecto de algunos adultos que, por chiste o juego, manipulan con frecuencia las partes del
      pequeño, lo que hace que este se toque luego para sentir la misma sensación placentera que sintió anteriormente.
    </p>
    <br>
    <h4>
      ¿Qué se debe hacer ante la manipulación?</h4>

    <li>Es fundamental darle al niño un ambiente donde se sienta feliz, en el que encuentre comprensión y cariño, en el
      que tenga amplitud de juego y exploración, darle actividades en su sentido más amplio.</li>
    <li>Si se ve que un niño se manipula, no debe pensarse que es algo malo ni regañarlo, ni atemorizar al pequeño por
      lo
      que hizo. Esto le provoca sentirse más inseguro y lo que se logra, en definitiva, es que aumenten las
      manipulaciones.</li>
    <li>Desvíe la atención en ese momento hacia un juguete o una actividad, en especial una en que tenga que hacer uso
      de
      las manos, hacer construcciones, etc.</li>
    <li>Póngale ropa adecuada a su talla. Si utiliza ropas apretadas o anchas, esto hace que se sienta incómodo y se
      toque
      mucho.</li>
    <br>
    <p>La crisis de los 3 años. Regulación del comportamiento:</p>

    <p>A diferencia de cómo el adulto regula su comportamiento (por motivos concientizados fundamentalmente), los
      motivos
      de la conducta infantil se encuentran fuera de su conciencia principalmente y no están jerarquizados
      .Rasgo particular de su comportamiento en la edad temprana: actúa sin pensar, por efecto de los sentimientos y
      deseos que le surgen en un momento dado. Son deseos y sentimientos motivados ante todo por lo inmediato que les
      rodea. Por lo tanto, el comportamiento depende de las circunstancias externas (es fácil atraer su atención sobre
      algo pero también distraerlo).</p>
    <p>
      No obstante, ya al comienzo de la edad temprana, debido a la formación de representaciones estables sobre aspectos
      de la realidad y establecimiento del vínculo entre sentimientos y deseos con esas representaciones, la conducta se
      hace menos dependiente de la situación concreta y se crean las bases para el desarrollo de la regulación verbal
      del
      comportamiento (ejecución de acciones orientadas a objetivos señalados verbalmente). Pero esta regulación verbal
      es
      aún muy débil.</p>
    <p>
      Entre los sentimientos, se desarrollan en esta etapa sentimientos por sus allegados. En la realidad con el adulto,
      el niño aspira a su alabanza, cariño, reconocimiento y esto le proporciona emociones positivas, orgullo, etc. Se
      desarrolla así la pretensión de ser reconocido pro el adulto, quien le plantea exigencias que el niño cumple por
      ganar su reconocimiento.</p>
    <p>
      Por lo tanto, la pretensión de reconocimiento se convierte en una necesidad de niño y determina el progreso de su
      desarrollo.
    </p>
    <br>
    <h4>
      Surgimiento de la aspiración de autonomía: la crisis de los 3 años.</h4>
<p>
    Uno de los momentos más importantes en el niño de edad temprana se produce cuando éste comienza a comprender que es
    una persona particular.<br>
    Comienza a conocer su propia persona a partir del final del 2do año de vida, primero referido a su apariencia,
    luego, a su mundo interior. Se reconoce en el espejo, fotografías, se refiere a sí mismo como 1ra persona (quiero la
    muñeca) y no como 3ra persona (la niña quiere la muñeca), como sucedía hasta este momento.<br>
    Bajo su creciente independencia práctica, llega a reconocerse como autónomo.<br>
    Comienza entonces a compararse con otros y quiere llegar a ser como ellos (fundamentalmente los adultos), llegar a
    hacer lo mismo, a tener la misma independencia.<br>
    Así, surge la crisis de los 3 años (fenómeno transitorio) que denota un cambio y viraje en el desarrollo del niño.
    Es un momento de cabezonería u oposicionismo. “Una fase combativa en la que el yo se conquista al mismo tiempo que
    se opone” (Wallon, 1946). Muchos adultos tienen en esta etapa considerables dificultades en sus interrelaciones con
    el niño y deben enfrentar su negativismo y terquedad. (etapa del “yo puedo”, “yo solo”).<br>
    Los niños entonces protestan ante la constante tutela y violan las prohibiciones. Es un momento en que se deben
    cambiar paulatinamente algunos patrones educativos, porque el niño ha crecido y se necesita darle mayor autonomía
    que antes.
  </p>

  </ion-content>


</ion-content>
