<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mensajes Educativos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">

    <div class="text-bubble">
    <h2>MENSAJES EDUCATIVOS</h2>
    <p class="fun-text">
      El proceso de adaptación es el tiempo que tu hijo necesita para sentirse seguro y cómodo en su nuevo entorno, el círculo infantil. Durante este periodo, se familiarizará con las educadoras, los compañeros, las rutinas y las actividades. Es un proceso gradual que puede tomar días o semanas, y cada niño lo vive a su propio ritmo.
    </p>
    <ul>
      <li>Habla con tu hijo sobre sus sentimientos y escucha sus precauciones.</li>
      <li>Realiza visitas al círculo infantil para familiarizar a tu hijo.</li>
      <li>Crea una rutina diaria que incluya el tiempo.</li>
      <li>Anima a tu hijo a realizar pequeñas tareas por sí mismo.</li>
      <li>Dedica tiempo de calidad a jugar con tu hijo.</li>
      <li>Sé paciente y comprensivo, cada niño tiene su propio ritmo.</li>
      <li>Ofrece apoyo emocional y valida sus sentimientos.</li>
      <li>Comparte la aplicación móvil con otros padres para que puedan beneficiarse de estos consejos.</li>
    </ul>
  </div>

  </ion-content>
</ion-content>
