<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Canciones y Rondas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">

    <p>
      CANCIONES Y RONDAS PARA JUGAR
      El ritmo de las canciones para jugar lo marcan generalmente las palmadas y son prácticamente en forma de rueda o
      circulo, aunque hay excepciones, como tres que he incluido: Amambrochato, la señorita y al ánimo, para cuya
      ejecución se forman hileras. En otro caso los diálogos adquieren revelancia.</p>


    <div class="burbuja-juego">
      <h3>🐔🐓😄
        NARANJA DULCE😄🐓🐔</h3>
      <div class="variante">
        Naranja dulce,<br>
        Limón partido,<br>
        Dame un abrazo<br>
        Que yo te pido.<br>
        Mis juramentos,<br>
        Por algún tiempo<br>
        No te veré.<br>
        Toca la marcha,<br>
        Mi pecho llora.<br>
        -Adios, señora<br>
        Que ya me voy,<br>
        Que ya me voy,<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>A LA RUEDA RUEDA</h3>
      <div class="variante">Tomados de las manos, los jugadores forman una rueda y cantan con vivencia</div>
      <div class="variante">
        A la rueda rueda <br>
        De pan y canela,<br>
        Dame un besito<br>
        Y vete pa la escuela.<br>
        Si no quieres ir,<br>
        ¡ACUESTATE A DORMIR!<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>Tengo tengo Muñeca</h3>
      <div class="variante">
        Todos se toman de las manos, forman la rueda y cantan:
      </div>
      <div class="variante">
        Tengo una muñeca<br>
        Vestida de azul,<br>
        Con zapatos blancos<br>
        Y velo de tul;<br>
        Las medias caladas<br>
        Estilo andaluz,<br>
        El traje escotado con su canesú.<br>
        La lleve a paseo<br>
        Y se constipo;<br>
        La metí a la cama<br>
        Con mucho dolor.<br>
        Esta mañanita<br>
        Me dijo el doctor<br>
        Que el jarabe<br>
        Con un tenedor.<br>
        Dos y dos son cuatro<br>
        Cuatro y dos seis,<br>
        Seis y dos ocho,<br>
        Y ocho dieciséis<br>
        Y ocho venticuatro,<br>
        Y ocho treinta y dos,<br>
        Animas benditas,<br>
        Me arrodillo yo.<br>
      </div>
    </div><br><br>


    <div class="burbuja-juego">
      <h3>Arroz con leche</h3>
      <div class="variante">
        Las niñas forman una rueda con un numero impar de participantes. En el centro queda quien hace de viudita.
        Comienzan las vueltas al compás de la melodía:
      </div>
      <div class="variante">
        Arroz con leche se quiere casar<br>
        Con una viudita de la capital.<br>
        Rin, ran.<br>
        Bajan y suben<br><br>
        Que sepa coser, que sepa bordar,<br>
        Que ponga la aguja en su coneva.<br>
        Rin, ran.<br>
        Bajan y suben<br><br>
        Aurora de mayo,<br>
        Que al campo salia,<br>
        En busca de flores<br>
        De mayo de abril.<br><br>
        -Yo soy viudita que manda en la ley<br>
        Me quiero casar y no encuentro con quien<br><br>
        -Tan linda y tan bella,<br>
        No encuentras con quien.<br>
        Elija a su gusto<br>
        Que aquí tiene quien<br><br>
        La niña del centro dice hablando con ritmo:<br>
        -Me gusta la leche,<br>
        Me gusta el café<br>
        Pero más me gustan<br>
        Los ojos de usted.<br><br>
        -Contigo, si,<br>
        Contigo, no,<br>
        Contigo, si,<br>
        Me caso yo<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>Tres pollitos</h3>
      <div class="variante">
        Tres pollitos<br>
        tiene mi tía<br>
        uno que salta,<br>
        otro que pía<br>
        y otro que le canta<br>
        la melodia<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>Los pollitos dicen</h3>
      <div class="variante">
        Los Pollitos dicen<br>
        ¡pío pío pío!<br>
        cuando tienen hambre<br>
        cuando tiene frío.<br><br>
        La mamá les busca<br>
        el maíz y el trigo<br>
        cuida a sus pollitos<br>
        y les da abrigo.<br><br>
        Bajo sus dos alas<br>
        acurrucaditos<br>
        hasta el otro día<br>
        duermen los pollitos.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>Pito, Pito</h3>
      <div class="variante">
        Pito pito colorito<br>
        ¿adónde vas tan bonito?<br>
        a la acera verdadera<br>
        PIN POM, FUERA.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>Las Torticas</h3>
      <div class="variante">
        Tortas, torticas,<br>
        Tortas de manteca<br>
        Para mi mamita<br>
        Que me da la teta.<br><br>
        Tortas, torticas<br>
        Que viene mi papa<br>
        Y trae un perrito que dice gua, gua.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>Azótate la Mocita</h3>
      <div class="variante">
        Azótate la mocita<br>
        con la mano en la cabecita<br>
        azótate la mozota<br>
        con la mano en la cabezota<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>PIN-PON</h3>
      <div class="variante">
        Pin-pon es un muñeco<br>
        muy lindo y de cartón<br>
        se lava la carita<br>
        con agua y con jabón<br><br>
        Se desenreda el pelo<br>
        con peine de marfil<br>
        y cuando va a la calle<br>
        parece un figurín.<br><br>
        Y cuando las estrellas<br>
        comienzan a salir<br>
        Pin-pon se va a la cama<br>
        y se acuesta a dormir.<br><br>
        Pin-pon, Pin-pon, muñeco de cartón,<br>
        Pin-pon, Pin-pon, muñeco de cartón<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>MEÑIQUE</h3>
      <div class="variante">
        Meñique se fue a paseo<br>
        sin permiso de anular<br>
        cuando del medio lo sepa<br>
        un regaño le va a dar.<br><br>
        Índice lo está buscando,<br>
        lo está buscando pulgar.<br>
        Hoy regañan a Meñique<br>
        Hoy lo van a regañar!<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>CINCO LOBITOS</h3>
      <div class="variante">
        Cinco lobitos<br>
        Tiene la loba<br>
        Cinco lobitos<br>
        Detrás de la escoba<br><br>
        Cinco tenía<br>
        Cinco críó<br>
        Y a los cinco lobitos<br>
        Tetita les dio.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>QUE RICO BAÑO</h3>
      <div class="variante">
        Qué rico el baño!<br>
        qué fresca el agua<br>
        el nené lindo<br>
        feliz se baña.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>¡CUCU!</h3>
      <div class="variante">
        Cu cú Cucú Cantaba la Rana<br>
        Cu cú Cucú debajo del agua<br><br>
        Cu cú Cucú pasó un caballero<br>
        Cu cú Cucú de capa y sombrero<br><br>
        Cu cú Cucú pasó una señora<br>
        Cu cú Cucú de falda y de cola<br><br>
        Cu cú Cucú paso una guitana<br>
        Cu cú Cucú vestida de lana<br><br>
        Cu cú Cucú y comiendo pan<br>
        Cu cú Cucú le pedi un pedazo<br>
        Cu cú Cucú no me quiso dar<br><br>
        Cu cú Cucú la cogi por el brazo<br>
        Cu cú Cucú la hice bailar bailar<br><br>
        Cu cú Cucú si el cuuc te gusta<br>
        Cu cú Cucú volvere a empezar<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>SEÑORA SANTA ANA</h3>
      <div class="variante">
        -Señora Santana<br>
        Por qué llora el niño?<br>
        -Por una manzana<br>
        que se le ha perdido<br><br>
        -Yo le daré una,<br>
        yo le daré dos<br>
        una para el niño<br>
        y otra para vos.<br><br>
        -El no quiero una,<br>
        yo no quiero dos,<br>
        quiero la suya<br>
        que se me perdió.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>LA CUCARACHA</h3>
      <div class="variante">
        La cucaracha, la cucaracha<br>
        ya no puede caminar<br>
        porque no tiene,<br>
        porque le falta<br>
        la patica principal.<br><br>
        Ya murió la cucaracha,<br>
        Ya la llevan a enterrar<br>
        Entre cuarto zopilotes<br>
        Y un ratón de sacristan<br><br>
        Una cucaracha pinta,<br>
        Le dijo a la colorada<br>
        -Vamonos para mi tierra,<br>
        A pasar la temporada.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>ESTE NIÑO LINDO</h3>
      <div class="variante"> Duérmete, mi niño,<br> Duérmete, mi amor,<br> Duérmete, pedazo<br> De mi corazón<br><br>
        Este
        niño lindo<br> Que nació de día,<br> Quiere que lo lleven<br> A la dulcería<br><br> Este niño lindo<br> Que
        nació de
        noche,<br> Quiere que lo lleven<br> A pasear en coche<br> </div>
    </div>
    <div class="burbuja-juego">
      <h3>EL COCHERITO DE LERE</h3>
      <div class="variante"> El cocherito, Lere<br> Me dijo anoche, Lere<br> Que si quería, Lere<br> Montar en coche,
        Lere<br> Y yo le dije, Lere<br> Con gran salero, Lere<br> No quiero coche, Lere<br> Que me mareo, Lere<br>
      </div>
    </div>
    <div class="burbuja-juego">
      <h3>EL ESPANTAPÁJAROS</h3>
      <div class="variante"> Me visto con ropa vieja,<br> Una chaqueta rota<br> Y un sucio pantalón<br> Y me cubro la
        cabeza<br> Con un desbaratado<br> Sombrero de paja<br> Relleno mi cuerpo de paja,<br> Para el huerto me
        llevo<br> Y
        me dio como vivienda<br> Una estaca bajo el sol.<br> Allí castigo el frío<br> Y la lluvia me mojó<br> -te
        llamas:
        ¡Espantapájaros!-,<br> Me dijo con gruesa voz.<br> Si amo el canto del sinsonte<br> Y el zunzún con su
        color,<br> Si
        el ala de mi sombrero<br> Sirve de nido al gorrión.<br> Si juguetean conmigo<br> El tomeguín y el tooti,<br> Si
        no
        quiero espantar pájaros,<br> ¿Por qué me llamas así?<br> </div>
    </div>

    <div class="burbuja-juego">
      <h3>EL SOLDADITO DE PLOMO</h3>
      <div class="variante"> Mi madre, una cuchara<br> Mi padre fue un tenedor<br> Y yo nací soldadito<br> De chaqueta
        roja
        y azul pantalón.<br><br> Muchos hermanos yo tuve<br> Y a todos se los llevaron,<br> Pero a mí por ser tan
        feo<br>
        Muy solito me dejaron.<br><br> El corazón tengo enfermo<br> Desde que yo aquí llegué,<br> Pues vi a una niña
        bella<br> Y de ella me enamoré.<br><br> Yo no sé, yo no sé<br> Si ella me quiere o no,<br> Solo sé, solo sé<br>
        ¡Que
        me muero por su amor!<br> </div>
    </div>
    <div class="burbuja-juego">
      <h3>UN DÍA DE PASEO</h3>
      <div class="variante"> Un día de paseo, una señora rompió<br> Con su sombrero una farola.<br> Al ruido del farol
        salió
        el director<br> -Pero dígame, señora<br> ¿Quién ha roto el farol?<br><br> -Perdone, director, yo no he sido,<br>
        Ha
        sido mi sombrero el atrevido.<br><br> -Si ha sido su sombrero,<br> Pues la multa pagará<br> Para que otro día
        sepa
        su sombrero a dónde va.<br><br> -No quiero más sombrero ni más farola,<br> Yo quiero una mantilla de cuatro
        bolas.<br><br> Para subir al cielo se necesita<br> Una escalera grande y otra chiquita.<br> Si subo por la
        grande,
        me da calambre,<br> Si subo por la chiquita, ¡me da salsita!<br> </div>
    </div>


    <div class="burbuja-juego">
      <h3>HORMIGUITA RETOZONA</h3>
      <div class="variante">
        Hormiguita retozona<br>
        no hacía más que jugar<br>
        y su mami le decía:<br>
        -ven y ayúdame a zurcir.<br>
        -¡A zurcir, mami!<br>
        ¡y si me pincho un dedo!<br>
        ¡Ay! no, a mí no me gusta zurcir!<br>
        Yo lo que quiero es jugar.<br><br>

        Hormiguita retozona<br>
        no hacía más que jugar<br>
        y su mami le decía:<br>
        -ven y ayúdame a planchar.<br>
        -¡A planchar, mami!<br>
        ¡y si se me quema la ropa<br>
        tú me pegas!<br>
        ¡No, no, yo lo que quiero es jugar!<br><br>

        Hormiguita retozona<br>
        no hacía más que jugar<br>
        y su mami le decía:<br>
        -ven y ayúdame a fregar.<br>
        -¡A fregar, mami!<br>
        ¡y si se me rompe un plato!<br>
        ¡tú me pegas!<br>
        ¡No, no, no, a mí lo que me gusta es jugar!<br><br>

        ¡Ay, chica! no te pongas brava<br>
        pero a mí no me gusta ni lavar,<br>
        ni planchar, ni zurcir, ni fregar,<br>
        ni limpiar, mami, ni limpiar!<br>
        <br><br>

        ¡A mí lo que me gusta es JUGAR, JUGAR y JUGAR!<br><br>

        Pero un día la mamá<br>
        de hormiguita se enfermó,<br>
        no había quién lavara,<br>
        ni quién limpiara<br>
        no había quién planchara la ropa<br>
        y como no podía cocinar<br>
        no pudo ni tomarse un plato de sopa.<br><br>

        Hormiguita retozona sintió<br>
        ganas de llorar<br>
        -¡probecita mi mamita!,<br>
        yo la tengo que ayudar!<br><br>

        Fue a la cocina y cogió<br>
        para la sopa una olla,<br>
        la llenó de agua con sal<br>
        y le puso una cebolla.<br>
        Le echó carne, zanahoria,<br>
        papa, tomate y ají.<br>
        (ajo, porro y perejil)<br><br>

        Su mamita se tomó<br>
        una sopa muy sabrosa<br>
        y hormiguita cariñosa le dijo:<br>
        -¡mami reposa!.<br><br>

        Hormiguita retozona<br>
        desde aquel día juró<br>
        ayudar a su mamita<br>
        y su promesa cumplió.<br>
      </div>
    </div><br><br>



    <div class="burbuja-juego">
      <h3>TIN TIN LA LLUVIA CAYÓ</h3>
      <div class="variante">
        Tin Tin la lluvia cayó<br>
        ella juega conmigo y con ella yo,<br>
        Tin tin<br>
        La lluvia es una niña de cristal azul,<br>
        Para que juegues tú con ella<br>
        Para que juegues tú.<br><br>

        Tin tin la lluvia cayó<br>
        con su frescura el aire se perfumó<br>
        Tin tin.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>CAE UNA GOTICA DE AGUA</h3>
      <div class="variante">
        Cae una gotica de agua<br>
        otra, otra y muchas más,<br>
        si se bota de una nube<br>
        es porque lloviendo está.<br>
        si se bota de una nube<br>
        es porque lloviendo está.<br><br>

        Con la lluvia crece el río<br>
        las ranitas hacen croac croac<br>
        y despierta la matica<br>
        que duerme en la semillita<br>
        que acabamos de sembrar.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>LA GATA CON ESPEJUELOS</h3>
      <div class="variante">
        Con sus zapatos de caramelo<br>
        iba la Gata con espejuelos<br>
        y un Gato negro al verla pasar<br>
        le dijo: -¡Gata ven a bailar!<br>
        Y los dos juntos fueron bailando<br>
        por todo el pueblo de San Fernando.<br>
        Con sus zapatos de caramelo<br>
        baila la gata con espejuelos.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>QUE LLUEVA</h3>
      <div class="variante">
        Que llueva, que llueva<br>
        La virgen de la cueva<br>
        los pajaritos cantan<br>
        la nube se levanta<br>
        ¡que sí! ¡que no!,<br>
        ¡que caiga el chaparrón!<br>
        Con azúcar y turrón.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>LA PAVITA PECHUGONA</h3>
      <div class="variante">
        La pavita pechugona<br>
        se las dá de señorona<br>
        y por las tardes sale a pasear<br>
        con su sombrilla y un delantal<br>
        Tatacatá Tatacatá<br>
        Tatacatá Tatacatá.<br><br>

        Las lindas plumas de la pavita<br>
        el viento mece con suavidad<br>
        y la pavita se contonea y taconea<br>
        Tatacatá Tatacatá<br>
        Tatacatá Tatacatá.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>MATA AL ALACRÁN ABUELITA</h3>
      <div class="variante">
        Mata al alacrán abuelita<br>
        mátalo con una escopeta<br>
        y si no revienta el cartucho<br>
        mátalo con una chancleta.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>EL PATIO DE MI CASA</h3>
      <div class="variante">
        El patio de mi casa<br>
        Es particular,<br>
        Si llueve se moja<br>
        Como los demás.<br><br>

        Agáchate, niña.<br>
        Y vuelve agacharte,<br>
        Que si no te agachas<br>
        No sabes bailar.<br><br>

        (hablado con ritmo)<br>
        Salta, perico, salta<br>
        Salta por la ventana.<br>
      </div>
    </div><br><br>


    <div class="burbuja-juego">
      <h3>POLLOS DE MI CAZUELA</h3>
      <div class="variante">
        Los pollos de mi cazuela<br>
        no son para mi comer<br>
        que son para la viudita<br>
        que los sabe componer.<br><br>

        Se le echa ajo y cebolla<br>
        una hojita de laurel<br>
        se saca de la cazuela<br>
        cuando se vaya a comer.<br><br>

        Componte niña componte<br>
        que ahí viene tu marinero<br>
        con ese bonito traje<br>
        que parece un calecero.<br><br>

        Anoche yo te vi<br>
        en el parque Tulipán<br>
        meneando la cinturita<br>
        parampampim, pon, fuera.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>JUAN ME TIENE SIN CUIDADO</h3>
      <div class="variante">
        Juan "me tiene sin cuidado"<br>
        es un niño más que descuidado<br>
        su abuelita lo reprende<br>
        para ver si Juan aprende:<br>
        -Juan bájate del tejado<br>
        - Bah! me tiene sin cuidado<br>
        -Juan que te vas a caer<br>
        - Bah! me tiene sin cuidado<br>
        -Juan me debes obedecer<br>
        - Bah! me tiene sin cuidado<br>
        -Juaaaaaannnn!!!!<br>
        BIM BOM BAM!<br>
        Juan terminó con un chichón<br>
        como un melón<br>
        y la canción ya se acabó<br>
        Y que te sirva de lección!.<br>
      </div>
    </div><br><br>


    <div class="burbuja-juego">
      <h3>BARQUITO DE PAPEL</h3>
      <div class="variante">
        Barquito de papel<br>
        mi amigo fiel<br>
        llévame a navegar<br>
        por el ancho mar.<br><br>

        Yo quiero conocer<br>
        a niños de aquí y de allá<br>
        y a todos llevar<br>
        mi flor de amistad.<br><br>

        Abajo la guerra,<br>
        arriba la paz!<br>
        Los niños queremos<br>
        reír y cantar.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>MI PAYASO</h3>
      <div class="variante">
        Mi payaso, mi payaso<br>
        en el circo siempre está<br>
        hace gracia monerías<br>
        y se ríe JA, JA, JA.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>CANGREJITO</h3>
      <div class="variante">
        El cangrejito salió del mar<br>
        y por la playa se fue a pasear<br>
        y en la orillita él se encontró<br>
        una conchita y se enamoró.<br><br>

        ¡Qué cangrejo tan feo y barrigón!<br>
        ¡Vete, vete que me das horror!<br><br>

        El cangrejito no respondió<br>
        dio media vuelta y se marchó.<br><br>

        Pobre cangrejito<br>
        llevaba roto el corazón.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>LA VACA LOLA</h3>
      <div class="variante">
        La vaca lola,<br>
        la vaca lola<br>
        tiene cabeza<br>
        tiene cola<br>
        y hace Muuuu.<br>
      </div>
    </div><br><br>

    <div class="burbuja-juego">
      <h3>ESTRELLITA ¿DÓNDE ESTÁS?</h3>
      <div class="variante">
        Estrellita donde estás<br>
        Me pregunto qué serás,<br>
        En el cielo y en el mar<br>
        Un diamante de verdad.<br><br>

        Estrellita donde estás<br>
        Me pregunto qué serás,<br>
        Como el sol se ha ido ya<br>
        Cuando nada brilla más.<br><br>

        Tú nos muestras tu brillar<br>
        Brillas, brillas sin parar.<br><br>

        Estrellita donde estás<br>
        Me pregunto qué serás.<br>
      </div>
    </div><br><br>

  </ion-content>
</ion-content>