// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-font-family: 'Comic Sans MS', cursive;
    --ion-color-primary: #FF6B6B;
    --ion-color-secondary: #4ECDC4;
    --ion-color-tertiary: #FFE66D;
    --ion-color-success: #87D37C;
  }