<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content class="ion-padding">

    <ion-img src="../../../assets/N4.png" alt="Niños"></ion-img>

<br>
    <div class="ion-text-center">
      <ion-title color="primary"><strong>PASITOS SEGUROS</strong></ion-title>
    </div>
  </ion-content>
</ion-content>
