<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>La Familia en la educación</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding childish-background">
  <ion-content class="ion-padding">
    <ion-img src="../../../assets/N2.png" alt="Niños" class="main-image"></ion-img>

    <h2 class="section-title">LA FAMILIA JUEGA UN PAPEL PROTAGONICO EN LA EDUCACION Y DESARROLLO DE LA PRIMERA INFANCIA
    </h2>
    <div class="text-bubble">
      <p class="fun-text">
        Los familiares significativos la función fundamental en esta etapa, para lo cual cuentan como fortaleza con
        nivel de instrucción adecuado y con la concepción de una sociedad educadora, en la que no solo participa la
        escuela, sino también las organizaciones de masas, la comunidad y los medios de comunicación.
        La modalidad de atención no institucional, el Programa Educa a tu hijo, ha revelado que, desde un enfoque
        comunitario e intersectorial, dispone de una estrategia científicamente determinada y de un soporte material
        para que la familia pueda ejecutar su rol con efectividad. Las experiencias de esta modalidad han sido
        transferidas a las condiciones de aislamiento; lo cual ha permitido que las familias asuman con mayor
        sistematicidad ese rol protagónico, responsabilidad que debe ser perfeccionarse en el periodo pos pandemia.
      </p>
    </div>
    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <h2 class="section-title">EN EL HOGAR TODOS LOS MOMENTOS DE LA VIDA DE LOS NIÑOS Y NILÑAS SON EDUCATIVOS.</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Los niños y las niñas se apropian de manera activa de las formas de relacionarse y comportarse en cada tipo de
        actividad, los que todos los momentos de su vida en educativos. Cuando son alimentados, no solo se nutren, sino
        también desarrollan hábitos, preferencias alimenticias; de igual forma sucede durante los procesos de aseo y
        hasta en los paseos y juegos que realizan en un parque con otros niños o familiares.
      </p>
    </div>
    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>


    <h2 class="section-title">ALGUNAS MANIFESTACIONES, COMPORTAMIENTOS Y CARACTERISTICAS DE LOS NIÑOS Y LAS NIÑAS EN 2 a
      3 AÑOS.</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Estas orientaciones tratan sobre comportamientos habituales de los niños y las niñas de la primera infancia, y
        las soluciones pedagógicas y psicológicas más adecuadas para su correcta socialización. Se refieren a
        comportamientos habituales del niño, que necesitan ser guiados de modo correcto para un adecuado desarrollo
        emocional, y que, de ser erróneamente tratados, pueden arraigarse y hacerse estables en el tiempo, constituyendo
        un mal manejo que requiere una atención especializada por parte del psicólogo.
      </p>
    </div>
    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>


    <h2 class="section-title">CARACTERISTICAS DE LOS NIÑOS Y LAS NIÑAS EN 2 a 3 AÑOS.</h2>
    <div class="text-bubble">
      <p class="fun-text">
        El conocimiento de las características de estas edades les permite efectuar su trabajo con mayor efectividad con
        el grupo de niños en general con cada uno de forma individual. Este es un aspecto esencial del trabajo educativo
        en esta etapa, donde se sientan las bases para el desarrollo integral de la personalidad y para lograr el Fin de
        la primera infancia, que no es más que “El logro del máximo desarrollo integral posible de cada niño y niña
        desde el nacimiento hasta los 6 años de edad”
      </p>
    </div>
    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>


    <table class="kids-dark-table">
      <tbody>
        <tr>
          <td>1</td>
          <td>⏰ Presentan un desarrollo físico más lento que en las edades anteriores.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>🤗 Son más resistentes a las enfermedades.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>👕 Aumentan la capacidad de trabajo, por lo que permanecen despiertos durante más tiempo; por el día deben
            dormir 2 horas y 30 minutos y en la noche de 8 a 10 horas.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>🎲 Realizan movimientos físicos más coordinados, lo que les permiten la ejecución de actividades motrices
            afines, como son el tomar correctamente la cuchara, abotonar o desabotonar una camisa o bata. Su marcha
            (caminar) se hace más firme y segura, lo que posibilita montar velocípedos, bailar, coordinar manos y pies,
            así como realizar giros, dar pasos laterales, saltar con las dos piernas y correr.</td>
        </tr>
        <tr>
          <td>5</td>
          <td>😊 Aumentan su caudal de palabras, empleando las partes de una oración. Se hace más frecuente la
            comunicación entre los niños y adultos; hacen numerosas preguntas. Ya a mediados de este año el lenguaje
            tiene mayor importancia como regulador de la conducta de los niños.</td>
        </tr>
        <tr>
          <td>6</td>
          <td>🎯 Desempeñan un papel muy importante la actividad con los objetos. El dominio del lenguaje les permiten
            darle aptitud a este conocimiento de los objetos, pues ya son capaces de comprender mejor el significado de
            las palabras y el nombre de cada uno.</td>
        </tr>
        <tr>
          <td>7</td>
          <td>👫 Presentan una atención menos dispersa que el año anterior pero aun no garantiza la permanencia excesiva
            en un mismo tipo de actividad, por eso sus movimientos continuos de un lugar a otro. Pueden permanecer
            atentos, si están motivados, de 8 a 10 minutos </td>
        </tr>
        <tr>
          <td>9</td>
          <td>⏳ desarrollan la independencia, realizan labores sencillas autoservicio, muestran gran interés para
            realizar actividades por sí solo y se enfadan si se les limita o les impiden hacerlas.</td>
        </tr>

        <tr>
          <td>10</td>
          <td>⏰ Comienzan a manifestar el juego con otros niños o de conjunto con el grupo y se incrementan los juegos
            limitaciones, inician la utilización de objetos sustitutos (un palitos por termómetros, un bloque como
            jabón).</td>
        </tr>
        <tr>
          <td>11</td>
          <td>🤗 Puede aparecer la llamada “crisis de los tres años”, debido a las contradicciones que se dan en el
            propio niño, entre sus aspiraciones y sus posibilidades reales, que no siempre el adulto reconoce. Este año
            evento requiere de un tratamiento educativo que se correspondan con la particularidad de cada niño.</td>
        </tr>

        <tr>
          <td>12</td>
          <td>👕 Necesitan de la atención estrecha del adulto para la satisfacción de sus necesidades esenciales. Por lo
            que son imprescindibles las muestran de cariños y expresiones afectivas.
        </tr>
      </tbody>
    </table>

    <h2 class="section-title">LA CARENCIA AFECTIVA.</h2>
    <div class="text-bubble">
      <p class="fun-text">
        El niño desde que nace tiene una gran necesidad de afecto que el adulto satisface mediante un trato cariñoso,
        hablándole suave y dulcemente, dándole seguridad y apoyo, satisfaciendo sus necesidades con ternura. De manera
        que el niño que desde su nacimiento disfrute del cariño y de la comprensión de las personas que lo tienen a su
        cuidado, será un niño feliz. Los niños y niñas que crecen sin tener satisfechas sus necesidades de afecto suelen
        presentar alteraciones de conducta, tanto en el aspecto emocional como en el intelectual.
      </p>
      <p class="fun-text">
        ¿Por qué ocurre? Hay adultos que atienden al niño de forma mecánica, lo alimentan, lo duermen, etc., pero sin
        ofrecerle ternura, sin brindarle caricias. La satisfacción de las necesidades del pequeño, cumplida como una
        obligación de cada día, es causa de que se sienta mal atendido, por el contrario una buena comunicación afectiva
        es lo principal que necesita para sentirse tranquilo y seguro.
      </p>
      <p class="fun-text">
        ¿Qué alteraciones presenta un niño carente de afecto? Es necesario aclarar que las alteraciones que surgen
        producto de la carencia afectiva, serán más serias mientras más pequeño sea el niño y más se prolongue la
        situación sin tomar las medidas necesarias para erradicarlas. Estas alteraciones tienen manifestaciones
        distintas:
      </p>
    </div>
    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <table class="kids-dark-table">
      <thead>
        <tr>
          <th>🌟</th>
          <th>Sugerencias para favorecer el proceso de adaptación de las niñas y niños.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>⏰ Los niños y niñas carentes de afecto, poco a poco, en la medida que esa falta de afecto se prolongue,
            pueden ir perdiendo el interés en las cosas hasta llegar a una indiferencia ante los estímulos del medio que
            los rodea.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>🤗 En general, su conducta se va haciendo difícil, pues están como en guardia ante todo lo que se les
            acerca, llegando a veces, a ser muy agresivos.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>👕 Generalmente, adelantan poco en el aprendizaje de lo que se les enseñan y no atienden cuando se les
            habla.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>🎲 Su desarrollo intelectual se atrasa, en general parecen menores que los otros niños de su edad, ya que
            se retrasan en el caminar, en el lenguaje, en el desarrollo del pensamiento y de la percepción.</td>
        </tr>
        <tr>
          <td>5</td>
          <td>😊 Los niños más pequeños, cuando la falta de estimulación es muy grande, acuden a estimularse ellos
            mismos, manifestando conductas como: balanceo, chocar la cabeza contra los barrotes del corral o contra la
            pared, adquieren manías. </td>
        </tr>
        <tr>
          <td>6</td>
          <td>🎯 Tienen gran falta de confianza y seguridad en sí mismos, o sea, no se creen capaces de realizar lo que
            hacen sus compañeritos. </td>
        </tr>
        <tr>
          <td>7</td>
          <td>👫 Sus relaciones en el juego son pobres y expresan poca alegría, manteniendo una cara alelada y poco
            expresiva. </td>
        </tr>
        <tr>
          <td>8</td>
          <td>⏳ Reclaman continuamente el afecto de personas que no son precisamente las que los cuidan. Así llaman
            “mamá” a cualquier mujer que se les acerque y “papá” a cualquier hombre.</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="text-bubble">
      <p class="fun-text">
        Es necesario evitar que se desarrollen en el niño alteraciones por una carencia afectiva; ahora bien, si ya ha
        ocurrido esto, hay que extremar las acciones para ayudar al pequeño a superarlas.
      </p>
    </div>


    <br><br>
    <table class="kids-dark-table">
      <thead>
        <tr>
          <th>🌟</th>
          <th>¿Qué se debe hacer para eliminar la carencia afectiva?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            ⏰ Extremar las demostraciones de cariño, hablarles con palabras y tono suaves, cargarlos, acariciarlos y
            besarlos con frecuencia, decirles que se les quiere.
        </tr>
        <tr>
          <td>2</td>
          <td>🤗 Si el niño es muy pequeño, se debe estar atento para que no esté solo, sin estimulación; suministrarle
            juguetes y sentarse a jugar con él. Si es aún más pequeño, se le cantará, cargándolo con frecuencia.
        </tr>
        <tr>
          <td>3</td>
          <td>👕 Satisfacer sus necesidades en el momento preciso y de forma tierna, esto se extremará mientras más
            pequeños sean. Así, durante los procesos de alimentación, baño y sueño se les hablará dulcemente,
            tratándolos con cuidado y amor.
        </tr>
        <tr>
          <td>4</td>
          <td>🎲 El adulto estará vigilante en las situaciones en las que el niño pueda necesitar apoyo y seguridad,
            cuando, por ejemplo, se enfrente a una situación nueva.

        </tr>
        <tr>
          <td>5</td>
          <td>😊 Atenderlos con mucha paciencia para que logren comprender las actividades de su edad. Así mismo,
            elogiarlos cada vez que hagan algo bien aunque sea muy sencillo y ayudarlos cuando fracasan, sin alterarse
            el adulto, ni hacer un problema de los errores de los niños.
        </tr>
        <tr>
          <td>6</td>
          <td>🎯 Hablarles mucho para que se sientan atendidos. De todo lo anterior se concluye que cuidar y enseñar a
            los niños es una hermosa tarea que debemos realizar con amor. </td>
        </tr>
      </tbody>
    </table>

    <h2 class="section-title">LA FALTA DE ACTIVIDAD.</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Los adultos son los responsables cuando el niño tiene poca actividad, tanto en el hogar como en la casa
        cuidadora.
      </p>
      <h4 class="section-title" style="color: black;">¿Por qué ocurre?</h4>
      <p class="fun-text">
        Hay adultos que son despreocupados y no le ofrecen al niño la posibilidad de actividad, no le dan materiales o
        juguetes y si se los dan, no lo enseñan a utilizarlos; a veces, tampoco le buscan lugar apropiado para jugar o
        no responden a sus preguntas, le hablan poco, etc. Existen otros casos donde los adultos son sobreprotectores e
        impiden al niño hacer una serie de actividades por temor a que le suceda algo. Así oímos a veces: “¡No corras,
        que te caes!”; “¡Deja eso, que mancha!”. Otros, son excesivamente dominantes y no permiten al niño
        desarrollarse, por ejemplo, le dicen: “¡Quédate quieto ahí!”.
      </p>
      <p class="fun-text">
        Cuando por cualquiera de estas causas el adulto no satisface la necesidad de actividad del niño, se
        desarrollarán distintos problemas en su conducta cuyas manifestaciones es necesario conocer para cuando algún
        niño las presente, inmediatamente tomar las medidas que erradiquen esta falta de actividad
      </p>
      <br>
    </div>

    <br><br>
    <h2 class="section-title">¿Qué alteraciones presenta un niño carente de actividad?</h2>

    <table class="kids-dark-table">
      <tbody>
        <tr>
          <td>1</td>
          <td>
            Un niño con poca actividad se retrasará en su desarrollo intelectual y en la medida en que se prolongue el
            tiempo de inactividad, será mayor su atraso. Así se observa retardo en el lenguaje, la percepción, el
            pensamiento, etc.
        </tr>
        <tr>
          <td>2</td>
          <td>En general, un niño con poca curiosidad, poca iniciativa, pobre desarrollo de la fantasía y del afán de
            exploración, puede llegar a ser indiferente a todo aprendizaje.
        </tr>
        <tr>
          <td>3</td>
          <td>El conocimiento del mundo que lo rodea es por lo general muy pobre.
        </tr>
        <tr>
          <td>4</td>
          <td>Como se aburre por no tener actividades, puede llegar a presentar balanceo (mecerse de un lado a otro
            constantemente), chuparse el dedo, o cualquier otra manipulación de su cuerpo.
        </tr>
        <tr>
          <td>5</td>
          <td> Se convierte en un niño con poca seguridad en sí mismo, puede tener miedo a correr, subir o saltar.
            Luego, de mayorcito, se siente inseguro en las actividades escolares y de trabajo, cree que no puede hacer y
            aprender bien las cosas.
        </tr>
      </tbody>
    </table>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>


  </ion-content>
</ion-content>