<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>El proceso de adaptación</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content class="ion-padding">


    <ion-img src="../../../assets/N1.png" alt="Niños"></ion-img>

    <h2>El proceso de adaptación</h2>

    <p>
      Se denomina proceso de adaptación: al tiempo que media desde el ingreso del niño a su cuidado hasta la plena
      incorporación a la vida y actividades que se desarrollan.
      Solo cuando el niño está completamente adaptado es que podemos decir que este proceso ha terminado.
    </p>
    <p>
      Se considera que el niño está completamente adaptado, cuando ingiere sus alimentos con satisfacción; duerme bien y
      en los periodos establecidos; mantiene un estado de ánimo alegre y activo; participa activamente de los juegos y
      asimila sin dificultad las actividades que se desarrollan.
    </p>
    <p>
      Hay niños que no presentan dificultad alguna en su adaptación y aceptan la incorporación de forma feliz y
      satisfactoria.
    </p>
    Hay otros que, por determinadas circunstancias, no parecen niños que estén en este proceso, sino, desde un primer
    momento se les ve activos. Esta aparente estabilidad emocional conduce con frecuencia a errores, por ejemplo, en
    ocasiones, se orienta incorrectamente que permanezca todo el día bajo su cuidado, cuando aún no se puede decir que
    está adaptado, tan solo por el hecho de que no llora o parece contento. Luego al cabo de dos o tres días y a veces
    más, comienza a presentar reacciones características del proceso de adaptación. Por ello, se hace estrictamente
    indispensable para considerar que un niño está adaptado, el cumplimiento de los criterios de adaptación antes
    citados, y que esto sea una
    Conducta estable para llegar a esa conclusión.
    <p>
      Con frecuencia hay niños que aceptan los cambios más rápido y fácilmente que otros y esto está determinado por los
      métodos educativos empleados en el medio familiar en que se han desenvuelto, su forma de ser, e incluso, por sus
      particularidades personales, sin dejar de considerar que la prolongación excesiva del proceso no solo redunda en
      perjuicio del propio niño sino igualmente de los demás.
    </p>
    <h3>
      Principios del proceso de adaptación
    </h3>
    <p>
      El principio de la individualidad es un elemento a considerar en el proceso de adaptación. Si bien existen
      factores generales comunes a todos los niños de una misma edad en cuanto a sus reacciones, comportamientos y
      logros, cada niño es único en sí mismo, por lo que hay que analizar cómo se desenvuelve cada uno en particular.
      Principio de la separación paulatina de la madre o padre y tiempo progresivo de estancia del niño. Por regla
      general, cuando el niño comienza a asistir, no debe separarse de la madre o padre hasta que lentamente empiece a
      participar en la vida del grupo de niños del salón. La madre permanece con el niño en unión de alguna compañera
      que labore con usted, con el objetivo de recorrer con él todos los locales donde se van a desarrollar las
      actividades, donde va a jugar, el baño y algún otro lugar que usted considere.
    </p>
    <h3>
      LA READAPTACION
    </h3>
    <p>
      Consiste en el inicio de un nuevo proceso de adaptación de un niño o niña que estaba realizándolo pero que, por
      algún motivo, hubo de dejar de asistir al círculo infantil. En el caso de readaptación es importante conocer la
      causa que determino la ausencia del niño/a (enfermedad, situaciones familiares específicas, ect) y valorar el
      grado de de adaptación que ya había alcanzado. Si el niño/a haya estado enfermo, este puede determinar que regrese
      con una mayor susceptibilidad. Una ausencia continua de 15 días implica el comienzo exactamente igual a que si
      fuera un niño/a nuevo como si nunca ha estado en el círculo.
    </p>
    <h3>
      EL NIÑO Y LA NIÑA DE LA PRIMERA INFANCIA NO ES UN ESCOLAR
    </h3>
    <p>
      Los niños y niñas de estas edades deben apropiarse de todo lo que les permita integrarse al entorno en que viven.
      Eso requiere disponer de salud, poseer habilidades motrices, poder comunicarse con las demás personas. Asimismo,
      deben ser capaces de solucionar problemas sencillos que su propia práctica diaria les plantea, alcanzar un
      comportamiento social adecuado y poseer un estado afectivo positivo. En ellos se resume el contenido de su
      educación, por lo que no podemos exigirles acciones o respuestas propias de niños y niñas de mayor edad. Es
      necesario comprender que la principal aspiración de esta etapa es el desarrollo integral
    </p>
    <h3>
      HORARIO DE VIDA</h3>
    <p>
      El horario de vida es la distribución racional del tiempo para cada actividad o la satisfacción de las necesidades
      de los niños y las niñas, en las que se debe tener presente la correcta conectividad en cada una. El cumplimiento
      del horario permite educar un comportamiento organizado en el niño. Cuando se logra que todos los días a una misma
      hora se bañen, coman y duerman, se estimula con ello la formación de los estereotipos que provoca el surgimiento
      de la necesidad a la hora indicada y si esto se ha realizado de forma adecuada, con motivación y buena
      comunicación con el niño, este no ofrecerá resistencia y se logrará una ejecución con rapidez y calidad. En los
      horarios en los que no se colocan procesos básicos ni actividades, se desarrollarán acciones educativas o sea a lo
      que el niño quiera jugar, en la cual usted debe proporcionarle variantes, tales como: juegos de roles, juegos
      musicales, deportivos, materiales en las mesas, narraciones de cuentos y poesías, entre otros.
    </p>
    <h3>
      HORARIOS Y ACTIVIDADES A REALIZAR</h3>
    <ion-list>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>7:00Am Despertar, desayuno y entrada a donde reciben la atención educativa y de cuidado.</ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>8:30Am- Gymnasia matutina.</ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>8:45Am- Actividad independiente: lanzar pelota, correr, saltar, reptar, cuadrúpeda; juegos
          tradicionales: El patio de mi casa, El perrito goloso, La señorita entre otros
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>Merienda, aseo.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>9:25Am- Juego de entretenimiento con juguetes: Carritos, muñecas, cocina, animales, etc.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>10:30Am- Proceso de Baño.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>10:30 a 11: 15Am- Actividad independiente: Bailar, cantar canciones infantiles, regar las plantas,
          dibujar, juegos con instrumentos, etc.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>11.15 a 12.15 am Aseo, Alimentación (almuerzo) y aseo.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>12:15pm- a 3.00 pm Proceso de sueño.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>3:00Pm-.3:30Pm- Aseo, merienda y actividad independiente: Paseo, ir al parque, jugar pelota, suiza,
          hacerles cuentos, poesías entre otros.
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-badge slot="start">•</ion-badge>
        <ion-label>4.00 a 6.00 pm Entrega de los niños a las familias
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-content>
