<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Proceso de Adaptación</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding childish-background">
  <div class="content-wrapper">
    <ion-img src="../../../assets/N1.png" alt="Niños" class="main-image"></ion-img>

    <h2 class="section-title">EL PROCESO DE ADAPTACION</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Se denomina proceso de adaptación: al tiempo que media desde el ingreso del niño a su cuidado hasta la plena incorporación a la vida y actividades que se desarrollan. 
        Solo cuando el niño está completamente adaptado es que podemos decir que este proceso ha terminado. 
        
        Se considera que el niño está completamente adaptado, cuando ingiere sus alimentos con satisfacción; duerme bien y en los periodos establecidos; mantiene un estado de ánimo alegre y activo; participa activamente de los juegos y asimila sin dificultad las actividades que se desarrollan.
        
        Hay niños que no presentan dificultad alguna en su adaptación y aceptan la incorporación de forma feliz y satisfactoria. 
        
        Hay otros que, por determinadas circunstancias, no parecen niños que estén en este proceso, sino, desde un primer momento se les ve activos. Esta aparente estabilidad emocional conduce con frecuencia a errores, por ejemplo, en ocasiones, se orienta incorrectamente que permanezca todo el día bajo su cuidado, cuando aún no se puede decir que está adaptado, tan solo por el hecho de que no llora o parece contento. Luego al cabo de dos o tres días y a veces más, comienza a presentar reacciones características del proceso de adaptación. Por ello, se hace estrictamente indispensable para considerar que un niño está adaptado, el cumplimiento de los criterios de adaptación antes citados, y que esto sea una 
        Conducta estable para llegar a esa conclusión. 
        
        Con frecuencia hay niños que aceptan los cambios más rápido y fácilmente que otros y esto está determinado por los métodos educativos empleados en el medio familiar en que se han desenvuelto, su forma de ser, e incluso, por sus particularidades personales, sin dejar de considerar que la prolongación excesiva del proceso no solo redunda en perjuicio del propio niño sino igualmente de los demás.
        
      </p>
    </div>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <ion-img src="../../../assets/I4.jpg" alt="Niños" class="main-image"></ion-img>

    <h2 class="section-title">Principios del proceso de adaptación</h2>
    <div class="text-bubble">
      <p class="fun-text">
        El principio de la individualidad es un elemento a considerar en el proceso de adaptación. Si bien existen factores generales comunes a todos los niños de una misma edad en cuanto a sus reacciones, comportamientos y logros, cada niño es único en sí mismo, por lo que hay que analizar cómo se desenvuelve cada uno en particular. 
Principio de la separación paulatina de la madre o padre y tiempo progresivo de estancia del niño. Por regla general, cuando el niño comienza a asistir, no debe separarse de la madre o padre hasta que lentamente empiece a participar en la vida del grupo de niños del salón. La madre permanece con el niño en unión de alguna compañera que labore con usted, con el objetivo de recorrer con él todos los locales donde se van a desarrollar las actividades, donde va a jugar, el baño y algún otro lugar que usted considere.

      </p>
    </div>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <ion-img src="../../../assets/I1.jpg" alt="Niños" class="main-image"></ion-img>
    <h2 class="section-title">Importancia del proceso de adaptación de las niñas y niños.</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Es crucial el proceso de adaptación al círculo infantil, especialmente en niños de 2 a 3 años de edad. Brinda oportunidades para el desarrollo socioemocional, cognitivo y la preparación para la escuela, al tiempo que ofrece apoyo a la familia. Una adaptación exitosa radica en múltiples aspectos que impactan el desarrollo integral del niño y su bienestar emocional. Además requiere una transición gradual, comunicación fluida entre padres y educadores, y un ambiente de apoyo emocional y comprensión. 
      </p>
    </div>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <h2 class="section-title">LA READAPTACION</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Consiste en el inicio de un nuevo proceso de adaptación de un niño o niña que estaba realizándolo pero que, por algún motivo, hubo de dejar de asistir al círculo infantil. En el caso de readaptación  es importante conocer la causa que determino la ausencia del niño/a (enfermedad, situaciones familiares específicas, ect) y valorar el grado de de adaptación que ya había alcanzado. Si el niño/a haya estado enfermo, este puede determinar que regrese con una mayor susceptibilidad. Una ausencia continua de 15 días implica el comienzo exactamente igual a que si fuera un niño/a nuevo como si nunca ha estado en el círculo.  
       </p>
    </div>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>
    
    <h2 class="section-title">EL NIÑO Y LA NIÑA DE LA PRIMERA INFANCIA NO ES UN ESCOLAR</h2>
    <div class="text-bubble">
      <p class="fun-text">
        Los niños y niñas de estas edades deben apropiarse de todo lo que les permita integrarse al entorno en que viven. Eso requiere disponer de salud, poseer habilidades motrices, poder comunicarse con las demás personas. Asimismo, deben ser capaces de solucionar problemas sencillos que su propia práctica diaria les plantea, alcanzar un comportamiento social adecuado y poseer un estado afectivo positivo. En ellos se resume el contenido de su educación, por lo que no podemos exigirles acciones o respuestas propias de niños y niñas de mayor edad. Es necesario comprender que la principal aspiración de esta etapa es el desarrollo integral
      </p>
    </div>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <ion-img src="../../../assets/I2.jpg" alt="Niños" class="main-image"></ion-img>
    <h2 class="section-title">HORARIO DE VIDA</h2>
    <div class="text-bubble">
      <p class="fun-text">
        El horario de vida es la distribución racional del tiempo para cada actividad o la satisfacción de las necesidades de los niños y las niñas, en las que se debe tener presente la correcta conectividad en cada una. El cumplimiento del horario permite educar un comportamiento organizado en el niño. Cuando se logra que todos los días a una misma hora se bañen, coman y duerman, se estimula con ello la formación de los estereotipos que provoca el surgimiento de la necesidad a la hora indicada y si esto se ha realizado de forma adecuada, con motivación y buena comunicación con el niño, este no ofrecerá resistencia y se logrará una ejecución con rapidez y calidad. En los horarios en los que no se colocan procesos básicos ni actividades, se desarrollarán acciones educativas o sea a lo que el niño quiera jugar, en la cual usted debe proporcionarle variantes, tales como: juegos de roles, juegos musicales, deportivos, materiales en las mesas, narraciones de cuentos y poesías, entre otros.
      </p>
    </div>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>
    
    <h3 class="subtitle">Horarios y actividades a realizar</h3>
    
    <ion-list class="schedule-list">
      <ion-item *ngFor="let item of scheduleItems" class="schedule-item">
        <ion-icon [name]="item.icon" slot="start" color="secondary" class="item-icon"></ion-icon>
        <ion-label class="item-text">{{ item.time }} - {{ item.activity }}</ion-label>
      </ion-item>
    </ion-list>

    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>

    <ion-img src="../../../assets/I3.jpg" alt="Niños" class="main-image"></ion-img>


      <table class="kids-dark-table">
        <thead>
          <tr>
            <th>🌟</th>
            <th>Sugerencias para favorecer el proceso de adaptación de las niñas y niños.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>⏰ Establecer horarios para las comidas. El tiempo de estudio y el juego puede proporcionar un sentido de seguridad.</td>
          </tr>
          <tr>
            <td>2</td>
            <td>🤗 Fomentar un ambiente donde los niños se sientan cómodos compartiendo sus sentimientos y precauciones. Escuchar sin juzgar es clave.</td>
          </tr>
          <tr>
            <td>3</td>
            <td>👕 Permitir que los niños tomen decisiones pequeñas, como elegir su ropa o ayudar a cocinar, puede hacerles sentir más en control.</td>
          </tr>
          <tr>
            <td>4</td>
            <td>🎲 Realizar actividades juntas, como juegos de mesa o paseos al aire libre, fortalece los lazos familiares y crea buenos recuerdos.</td>
          </tr>
          <tr>
            <td>5</td>
            <td>😊 Es importante que reconozcan, las emociones de sus hijos, ya sea alegría, tristeza o frustración.</td>
          </tr>
          <tr>
            <td>6</td>
            <td>🎯 Ayudar a los niños a establecer metas alcanzables puede darles un sentido de logro y motivación.</td>
          </tr>
          <tr>
            <td>7</td>
            <td>👫 Promover la interacción con otros niños puede ayudar a que se sientan más cómodos en nuevos entornos.</td>
          </tr>
          <tr>
            <td>8</td>
            <td>⏳ Cada niño se adapta a su propio ritmo, así que es esencial tener paciencia y apoyo durante este proceso.</td>
          </tr>
        </tbody>
      </table>


    <div class="decorations">
      <div class="cloud"></div>
      <div class="star">⭐</div>
    </div>
  </div>


</ion-content>
